<div class="sv_contentsBox row">
    <div class="col-12 col-sm-6">
        <div class="sv_imgContainer w-100 m-0">
            <img src="../img/service/service_1_share.png" alt="service airdrop image"/>
        </div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="sv_title pt-3 pb-3">Document Sharing and Selling</div>
        <div class="sv_contentsDesc">
            Knowledge producers can directly upload various types of documents, such as Word, Excel, PowerPoint and PDF,
            created with a variety of document creation software such as the Polaris Office. Documents containing
            knowledge on particular subjects as well as various documents such as Excel files containing various formats
            and formulas to solve any problem are available for uploading. Documents may be shared for free or at the
            prices previously designated by knowledge producers.
        </div>
    </div>
</div>


<div class="sv_contentsBox">
    <div class="row">
        <div class="col-12 col-sm-6 order-1 order-sm-0">
            <div class="sv_title pt-3 pb-3">Document Finding</div>
            <div class="sv_contentsDesc">
                Documents uploaded to the POLARIS SHARE are forwarded to the Users through various channels. In major
                routes, there are the methods of exposure to main Web pages, movement as per category, search within
                sites and related contents, external search, reference links, and embedding to other sites.
            </div>
        </div>
        <div class="col-12 col-sm-6 order-0 order-sm-1">
            <div class="sv_imgContainer w-100 m-0">
                <img src="../img/service/service_1_find_1.png" alt="document find image"/>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-sm-6">
            <div class="sv_imgContainer w-100 m-0 sv_imgContainerSub">
                <img src="../img/service/service_1_find_2.png" alt="document search image"/>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="sv_contentsDesc sv_contentsDescSub">
                On the main webpage, you can not only show a specific knowledge but also search for the latest popular
                documents, or you are available to select specific categories and search for required documents.
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-sm-6 order-1 order-sm-0">
            <div class="sv_contentsDesc order-0 sv_contentsDescSub">
                Documents uploaded to the POLARIS SHARE are optimized for search engines and can easily be exposed to
                major search sites such as Google and Yahoo. Once documents covering various topics are uploaded to the
                POLARIS SHARE, they can be searched by major search engines and thus it attracts more users.
            </div>
        </div>
        <div class="col-12 col-sm-6 order-0 order-sm-1">
            <div class="sv_imgContainer w-100 m-0">
                <img src="../img/service/service_1_find_3.png" alt="document seo image"/>
            </div>
        </div>
    </div>
</div>


<div class="sv_contentsBox row">
    <div class="col-12 col-sm-6">
        <div class="sv_imgContainer w-100 m-0">
            <img src="../img/service/service_1_find_4.png" alt="document vote image"/>
        </div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="sv_title pt-3 pb-3">Document Reading and Vote</div>
        <div class="sv_contentsDesc">
            The users of POLARIS SHARE can evaluate the document by reading the shared document, leaving comments or
            voting for.
        </div>
        <div class="sv_contentsDesc">
            These results are used to increase the possibility of exposure of content within the site by influencing the
            screening of documents to be exposed to the main web page, the sort order of search results, and the
            probability of exposure in related content.
        </div>
    </div>
</div>


<div class="sv_contentsBox row">
    <div class="col-12 col-sm-6 order-1 order-sm-0">
        <div class="sv_title pt-3 pb-3">Rewards for knowledge Producers</div>
        <div class="sv_contentsDesc">
            Knowledge producers and other contributors are rewarded according to their degree of contribution respectively.
        </div>
        <div class="sv_contentsDesc">
            We will explain the compensation logic based on activities and contributions that they can contribute in the next chapter.
        </div>
    </div>

    <div class="col-12 col-sm-6 order-0 order-sm-1">
        <div class="sv_imgContainer w-100 m-0">
            <img src="../img/service/service_1_reward.png" alt="document reward image"/>
        </div>
    </div>
</div>