<div class="t_contentsBox">
    <div class="t_title">POLARIS SHARE and Blockchain</div>
    <div class="t_contentsDesc">
        The POLARIS SHARE project is established as the DApp on the blockchain platform, which can generate tokens that
        form its economy.
        <br>
        Because important data and transaction records are stored in blockchain, it is implemented with the reliable
        distributed transaction method that it is not easy to manipulate.
        <br>
        However, the service will be provided as the hybrid way at the initial stage, the way which is mixed of
        blockchain and current cloud technologies due to the performance and cost problems of the blockchain platform.
    </div>
    <div class="t_contentsDesc">
        Although the project is provided as a hybrid type, it will be designed in the ways that decentralization,
        independence and reliability  are guaranteed,
        <br>
        and the most parts of the project will be implemented on the blockchain as the blockchain technology will
        gradually improve more and more in the future.
        <br>
        The choice of items to be stored in the blockchain will be determined by the data volume, the required
        processing speed and the requested level of reliability.
    </div>
    <div class="t_contentsDesc">
        For example, the data related to documents can be divided into the document itself, the meta-data of documents,
        and the activity data of documents such as the numbers of comments and views.
        <br>
        The document itself is difficult to record on the current blockchain due to its large size,
        <br>
        but verification of
        whether the document is original becomes an important issue later, considering document copyright issues.
        <br>
        Thus, the system is constructed in reliable ways that allows the creation time and identification of the
        originals by that data itself is stored in off-chains and hash values are stored in on-chains.
    </div>
    <div class="t_contentsDesc">
        Also, although built through the cloud, collaborative tools, including Polaris Office as well as various Office software, will be connected and used through open APIs.
        <br>
        The frontend is implemented through this and POLARIS SHARE team can look over data at the same level.
    </div>
    <div class="t_imgContainer">
        <img src="../img/section/4/architecture_extension.png" alt="system architecture image"/>
    </div>
</div>


<div class="t_contentsBox">
    <div class="t_title">System Architecture</div>
    <div class="t_imgContainer">
        <img src="../img/section/4/system_architecture.png" alt="system architecture image" />
    </div>
    <div class="t_subTitle">
        The component factors of POLARIS SHARE are as follows.
    </div>
    <div class="t_contentsDesc">
        POLARIS SHARE Frontend: User applications for using knowledge transaction service
    </div>
    <div class="t_contentsDesc">
        POLARIS SHARE Hybrid App: The business logic for the Knowledge transaction services based on Blockchain and Cloud
    </div>
    <div class="t_contentsDesc">
        POLARIS SHARE Open API: Providing common functions based on the business logic
    </div>
    <div class="t_contentsDesc">
        The underlying blockchain platform: the Ethereum will be used as the underlying blockchain platform
    </div>
    <div class="t_contentsDesc">
        Traditional Web and Cloud Services: Amazon Web Service and Private Hosting Server will be used
    </div>
</div>


<div class="t_contentsBox">
    <div class="t_title">Architecture Extension</div>
    <div class="t_contentsDesc">
        Although the POLARIS SHARE project currently provides only knowledge transaction services as proposed services,
        <br>
        it aims to become the platform that provides expert network oriented and distributed work environments beyond the knowledge transaction
    </div>
    <div class="t_contentsDesc">
        Initially, we have a plan to expand to collaborative services such as profile, human network services, project management services,
        <br>
        business messengers and video chat, starting from knowledge exchanges and a partner App, Office software.
    </div>
    <div class="t_contentsDesc">
        The Open API of The POLARIS SHARE will enable projects to expand service platforms by providing API,
        <br>
        thereby these services can be executed on the common basis which is stored in blockchain.
    </div>
    <div class="t_imgContainer">
        <img src="../img/section/4/architecture_extension.png" alt="architecture extension image"/>
    </div>
</div>


<div class="t_contentsBox">
    <div class="t_title">POLS in the POLARIS SHARE</div>
    <div class="t_contentsDesc">
        POLS is a commodity for using various knowledge transaction services. The standard tokens of ERC20 specification can be traded on cryptocurrency exchanges by adding specific functions,
        <br>
        and on the POLARIS SHARE platform, it can be used for the collections, the rewards, the exchanges, or the other purposes of user and document contents.
    </div>
</div>