/*************************************
                COMMON
**************************************/

@keyframes fade_in_show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.common_modal_title {
	position: relative;
	margin: 25px 0;
	flex: 0 0 auto;
	word-break: break-all;
}

@media (max-width: 767px) {
	.common_modal_title {
		font-size: 20px !important;
	}
}

.common_modal_title > h3 {
	padding-right: 60px;
	font-size: 25px;
	font-weight: bold;
	margin: 10px 0 !important;
	text-align: left;
	color: #505050;
}

.common_input {
	outline: none;
	background: no-repeat center bottom, center calc(100% - 1px);
	background-size: 0 100%, 100% 100%;
	border: 0;
	height: 36px;
	transition: background 0s ease-out;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 0;
	font-size: 1rem;
	color: #4d4d4d;
	width: 100%;
	background-image: linear-gradient(
			to top,
			#3681fe 2px,
			rgba(156, 39, 176, 0) 2px
		),
		linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.common_input:focus {
	background-image: linear-gradient(
			to top,
			#3681fe 2px,
			rgba(156, 39, 176, 0) 2px
		),
		linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
	background-size: 100% 100%, 100% 100%;
	transition-duration: 0.3s;
	box-shadow: none;
}

.common_input::placeholder {
	font-size: 1rem;
	color: #a5a5a5;
	font-weight: 100;
}

.common_inputWarning,
.common_inputWarning:focus,
.common_inputWarning:hover {
	background-image: linear-gradient(to top, red 2px, rgba(156, 39, 176, 0) 2px),
		linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
	background-image: -webkit-linear-gradient(
			bottom,
			red 2px,
			rgba(156, 39, 176, 0) 2px
		),
		-webkit-linear-gradient(bottom, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
	background-size: 100% 100%, 100% 100%;
}

.common_inputWarning + span {
	color: red;
	font-size: 11px;
}

.common_cancelBtn {
	background: none;
	color: #666666;
	cursor: pointer;
	padding: 6px 20px;
	transition: 0.2s all ease-in-out;
	font-size: 1rem;
	font-weight: 400;
}

.common_cancelBtn:hover {
	color: #f92121;
}

.common_okBtn {
	position: relative;
	background: white;
	color: #3681fe;
	cursor: pointer;
	border-radius: 2px;
	border: 1px solid #3681fe;
	padding: 6px 20px;
	transition: 0.2s all ease-in-out;
	font-size: 1rem;
	font-weight: 400;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.common_okBtn:hover {
	background: #3681fe;
	color: white;
}

.common_signOutBtn {
	position: relative;
	background: white;
	color: red;
	cursor: pointer;
	border-radius: 2px;
	border: 1px solid red;
	padding: 6px 20px;
	transition: 0.2s all ease-in-out;
	font-size: 1rem;
	font-weight: 400;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.common_signOutBtn:hover {
	background: red;
	color: white;
}

.common_font {
	font-family: Roboto, sans-serif, sans-serif;
}

.common_optionBtn {
	z-index: 3;
}

.common_optionBtn > i {
	cursor: pointer;
	color: #828282;
}

.common_optionBtn > i:hover {
	color: #3681fe;
}

.common_optionTable {
	position: absolute;
	top: 30px;
	right: 20px;
	float: right;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21), 0 0 1px rgba(0, 0, 0, 0.18);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21), 0 0 1px rgba(0, 0, 0, 0.18);
}

.common_optionTableBtn {
	text-align: left;
	padding: 7px 10px;
	min-width: 150px;
	cursor: pointer;
	background: white;
	font-size: 1rem;
	font-weight: 400;
	overflow: hidden;
	white-space: nowrap;
	color: #4d4d4d;
	align-items: center;
}

.common_optionTableBtn > i {
	font-size: 19px;
	margin-right: 10px;
	color: #8c8c8c;
}

.common_optionTableBtn:hover,
.common_optionTableBtn:hover > i {
	background: #3681fe;
	color: white !important;
}

.common_triggerDivForNative {
	position: absolute;
	left: -500%;
	opacity: 0;
}

.common_tab {
	text-align: center;
	height: 60px;
	border: 1px solid #004eaf;
	background: white;
	margin-top: 1rem;
	color: #6695cf;
	font-size: 1.4rem;
	position: relative;
}

/* PC/모바일 환경 분기 */
@media (max-width: 575px) and (hover: hover) and (pointer: fine) {
	.common_tab {
		height: 50px;
	}

	.common_tab:hover > div:not(.click) {
		display: flex;
	}
}

@media (max-width: 575px) and (hover: none) and (pointer: coarse) {
  .common_tab {
		height: 50px;
	}

  .common_tab > .active {
    position: relative;
    display: flex;
  }
  
  .common_tab > div:not(.click):not(.active) {
		display: none;
	}
}


.common_tab > div {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-weight: 500;
}

@media (max-width: 575px) {
	.common_tab > div {
		top: 0;
		z-index: 1;
		background: #efefef;
		display: none;
	}
}

.common_tab > .click {
	background: #004eaf;
	color: white;
}

@media (max-width: 575px) {
	.common_tab > .click {
		position: relative;
		display: flex;
		order: -1;
	}
}

.common_tabCaret {
	position: absolute;
	right: 1rem;
	width: 0;
	top: 20px;
	height: 0;
	border-top: 8px dashed;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	z-index: 1;
	color: white;
}

.s_firstBg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.common_bgWrapper,
.common_bgWrapper_grey {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.common_bgWrapper > img,
.common_bgWrapper_grey > img {
	position: inherit;
}

.common_bgWrapper > img:nth-child(1) {
	left: -38px;
	top: -270px;
}

.common_bgWrapper > img:nth-child(2) {
	left: -260px;
	top: 51px;
}

.common_bgWrapper > img:nth-child(3) {
	right: 0;
	top: 75px;
}

.common_bgWrapper > img:nth-child(4) {
	right: -130px;
	top: -240px;
}

.common_bgWrapper_grey > img:nth-child(1) {
	left: -450px;
	top: -70px;
}

.common_bgWrapper_grey > img:nth-child(2) {
	right: 100px;
	top: 51px;
}

.common_bgWrapper_grey > img:nth-child(3) {
	right: -380px;
	top: 270px;
}

.common_banner_title {
	text-align: left;
	font-size: 72px;
	font-weight: bold;
	color: white;
	margin-bottom: 20px;
}

.common_banner_desc {
	text-align: left;
	padding-top: 1rem;
	padding-bottom: 3rem;
	line-height: 1.5;
	color: white;
	font-size: 1rem;
}

@media (max-width: 575px) {
	.common_banner_title {
		font-size: 56px;
	}

	.common_banner_desc {
		padding-top: 2rem;
	}

	.s_firstSection .container > img {
		width: 100%;
	}
}

/*************************************
           COMMON ANIMATION
**************************************/

.mock-gradient-animation {
	background: linear-gradient(310deg, #ffffff, #d5d5d5);
	background-size: 800% 800%;
	-webkit-animation: mock-gradient-animation 4s ease infinite;
	-moz-animation: mock-gradient-animation 4s ease infinite;
	animation: mock-gradient-animation 4s ease infinite;
}

@-webkit-keyframes mock-gradient-animation {
	0% {
		background-position: 0 52%;
	}
	50% {
		background-position: 100% 49%;
	}
	100% {
		background-position: 0 52%;
	}
}

@-moz-keyframes mock-gradient-animation {
	0% {
		background-position: 0 52%;
	}
	50% {
		background-position: 100% 49%;
	}
	100% {
		background-position: 0 52%;
	}
}

@keyframes mock-gradient-animation {
	0% {
		background-position: 0 52%;
	}
	50% {
		background-position: 100% 49%;
	}
	100% {
		background-position: 0 52%;
	}
}

/*************************************
               HEADER
**************************************/

#header {
	height: 72px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background: white;
	border-bottom: 1px solid #c3c3c3;
}

@media (max-width: 767px) {
	#header {
		height: 55px;
	}
}

#header > .container {
	height: 100%;
}

.h_firstSection {
	height: inherit;
	display: flex;
	align-items: center;
	padding-left: 0;
}

@media (max-width: 767px) {
	.h_firstSection {
		padding: 0;
	}
}

.h_firstSection > a {
	width: 100%;
}

.h_secondSection > a {
	margin: 0 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 1rem;
	color: #333;
	line-height: 3.8;
}

.h_secondSection > a:hover {
	color: #1c7ef9;
}

@media (max-width: 1199px) {
	.h_secondSection > a {
		display: none;
	}
}

.h_thirdSection {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 0;
}

@media (max-width: 767px) {
	.h_thirdSection > a,
  .h_thirdSection > .dropdown {
    display: none;
  }
}

.h_whitePaper {
	font-size: 0.7rem;
	border: 1px solid #7c7c7c;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 23px;
	border-radius: 10px;
	padding: 0 10px;
	color: #7c7c7c;
	font-weight: 300;
	background: white;
	white-space: nowrap;
}

.h_whitePaper:hover {
	color: #1c7ef9;
	border-color: #1c7ef9;
}

.h_lightPaper {
	font-size: 0.7rem;
	border: 1px solid #7c7c7c;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 23px;
	border-radius: 10px;
	padding: 0 10px;
	color: #7c7c7c;
	font-weight: 300;
	background: white;
	margin-right: 10px;
	white-space: nowrap;
}

.h_lightPaper:hover {
	color: #1c7ef9;
	border-color: #1c7ef9;
}

.h_language {
	margin: 0 0 0 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	font-weight: 500;
	cursor: pointer;
	line-height: 5;
}

.h_language:hover {
	color: #1c7ef9;
}

/*************************************
               MENU
**************************************/

#menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: none;
}

.m_wrapper {
	z-index: 1;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: black;
	transition: 0.5s all ease-in-out;
	opacity: 0;
}

.m_container {
	z-index: 2;
	width: 90%;
	max-width: 370px;
	position: fixed;
	right: -400px;
	top: 0;
	background: white;
	height: inherit;
	transition: 0.5s all ease-in-out;
}

.m_showContainer {
	right: 0;
}

.m_showWrapper {
	opacity: 0.8;
}

.m_title {
	font-size: 1.3rem;
	font-weight: 500;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 1rem;
}

.m_closeBtn {
	position: absolute;
	right: 1rem;
	top: 1rem;
	cursor: pointer;
}

.m_closeBtn > img {
	width: 15px;
}

.m_bugger {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 25px;
	height: 25px;
	cursor: pointer;
	margin-left: 2rem;
	margin-right: 2rem;
}

.m_bugger:hover span,
.m_bugger:hover span:after,
.m_bugger:hover span:before {
	background: #1c7ef9;
}

@media (min-width: 1200px) {
	.m_bugger {
		display: none;
		margin-left: 0;
	}
}

@media (max-width: 575px) {
	.m_bugger {
		margin-left: 0;
		margin-right: 2.5rem;
	}
}

.m_bugger span,
.m_bugger span::after,
.m_bugger span::before {
	background: #333;
	height: 3px !important;
	border-radius: 3px;
	display: block;
	content: "";
	position: absolute;
	width: 100%;
}

.m_bugger span::before {
	top: -8px !important;
}

.m_bugger span::after {
	bottom: -8px !important;
}

.m_close {
	position: absolute;
	top: 13px;
	right: 1rem;
	width: 22px;
	height: 22px;
	z-index: 9999;
	cursor: pointer;
	margin: 0;
}

.m_close:hover span,
.m_close:hover span:after,
.m_close:hover span:before {
	background: #1c7ef9;
}

.m_close span::before {
	transform: rotate(45deg);
}

.m_close span::after {
	transform: rotate(-45deg);
}

.m_close span::before,
.m_close span::after {
	display: block;
	width: 100%;
	background: #333;
	height: 3px;
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
}

.m_list {
	padding: 0.5rem 1rem 0 1rem;
}

.m_listItem {
	border-bottom: 1px solid #e6e6e6;
	padding: 0.7rem 0.5rem;
	cursor: pointer;
	font-weight: 400;
}

.m_listItem:hover > a {
	color: #1c7ef9;
}

.m_listItem:last-child {
	border: none;
}

.m_listSub {
	justify-content: center;
	align-items: center;
	background: #ececec;
}

/*************************************
               SECTION
**************************************/
.s_first {
	position: relative;
}

@media (max-width: 767px) {
	.s_first {
		padding: 7rem 0 8rem;
	}
}

.s_first_bg {
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	z-index: 0;
	height: 100%;
	width: 100%;
}

.s_first_dummy {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgb(30, 128, 251);
	background: linear-gradient(
		104deg,
		rgba(30, 128, 251, 0.24413515406162467) 8%,
		rgba(25, 92, 204, 0.6951155462184874) 23%,
		rgba(25, 92, 204, 1) 39%,
		rgba(30, 128, 251, 0.2665441176470589) 85%,
		rgba(30, 128, 251, 0) 100%
	);
}

.s_underline {
	margin-top: 16px;
	width: 24px;
	height: 3px;
	background-color: #0059c9;
}

.s_first_imageWrapper {
	height: 100%;
	width: 100%;
}

.s_first_imageWrapper > img {
	height: 100%;
	max-width: none;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	position: absolute;
	width: 100%;
}

.s_first_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.s_first_bannerTextWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 12rem 0;
}

@media (max-width: 767px) {
	.s_first_bannerTextWrapper {
		margin: 0;
	}
}

.s_first_mainText {
	font-size: 3.5rem;
	color: white;
	line-height: 1.3;
	text-align: center;
	font-weight: normal;
}

@media (max-width: 767px) {
	.s_first_mainText {
		font-size: 2rem;
		font-weight: 500;
	}
}

.s_first_subText {
	margin-top: 2rem;
	font-weight: 400;
	line-height: 2;
	text-align: center;
	color: white;
}

@media (max-width: 767px) {
	.s_first_subText {
		line-height: 1.5;
		padding: 0 16px;
		margin-top: 3rem;
	}
}

.s_first_image {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.s_second {
	background: white;
}

.s_second_title {
	letter-spacing: 1.32px;
	text-align: center;
	font-size: 2.7rem;
	font-weight: 500;
}

@media (max-width: 767px) {
	.s_second_title {
		font-size: 2rem;
	}
}

.s_second_desc {
	max-width: 8500px;
	color: #333;
	font-weight: 400;
	text-align: center;
	font-size: 1rem;
	margin: 1rem auto auto;
	line-height: 1.5;
}

@media (max-width: 767px) {
	.s_second_desc {
		padding: 0 16px;
	}
}

.s_second_cardContainer {
	margin: 3rem 0 0 0;
	justify-content: center;
}

@media (max-width: 767px) {
	.s_second_cardContainer {
		margin-bottom: 0;
	}
}

@media (max-width: 577px) {
	.s_second_cardContainer {
		margin-top: 4rem;
	}
}

.s_second_cardContainer > .col-6 {
	padding: 0;
}

.s_second_card {
	height: 320px;
	margin: 1rem;
	background: white;
	padding: 1.4rem;
	position: relative;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
}

@media (max-width: 1199px) {
	.s_second_card {
		height: 300px;
	}
}

@media (max-width: 991px) {
	.s_second_card {
		height: 270px;
		padding: 1rem;
	}
}

@media (max-width: 767px) {
	.s_second_card {
		height: 345px;
		padding: 1.4rem;
	}
}

@media (max-width: 577px) {
	.s_second_card {
		height: 320px;
		margin: 0.4rem;
		padding: 1rem 0.4rem;
	}
}

@media (max-width: 480px) {
	.s_second_card {
		height: 260px;
	}
}

.s_second_card > div:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}

@media (max-width: 480px) {
	.s_second_card > div:first-child {
		margin-bottom: 1rem;
	}
}

.s_second_cardText {
	text-align: center;
	font-weight: 500;
	color: #1b1b1b;
	font-size: 1.1rem;
}

@media (max-width: 991px) {
	.s_second_cardText {
		font-size: 1rem;
	}
}

@media (max-width: 767px) {
	.s_second_cardText {
		font-size: 1.3rem;
	}
}

@media (max-width: 577px) {
	.s_second_cardText {
		font-size: 1rem;
	}
}

.s_second_card > a {
	position: absolute;
	display: flex;
	justify-content: center;
	width: calc(100% - 2.8rem);
	bottom: 1.4rem;
}

.s_second_card > a:hover {
	opacity: 0.8;
}

@media (max-width: 991px) {
	.s_second_card > a {
		width: calc(100% - 2.2rem);
	}
}

@media (max-width: 767px) {
	.s_second_card > a {
		width: calc(100% - 2.8rem);
	}
}

@media (max-width: 577px) {
	.s_second_card > a {
		width: calc(100% - 0.8rem);
	}
}

@media (max-width: 480px) {
	.s_second_card > a {
		bottom: 0.4rem;
	}
}

.s_second_card > a > div {
	font-size: 1rem;
	height: 37px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 110px;
	border: 1px solid #1d7ff9;
	background: white;
	color: #1d7ff9;
	font-weight: 500;
	transition: all ease 0.3s;
}

.s_second_card > a > div:hover {
	background: #1d7ff9;
	color: white;
}

@media (max-width: 767px) {
	.s_second_card > a > div {
		font-size: 1.2rem;
		height: 40px;
		width: 100%;
		max-width: 200px;
		margin-bottom: 0.5rem;
	}
}

@media (max-width: 577px) {
	.s_second_card > a > div {
		font-size: 1.2rem;
		height: 40px;
		max-width: 180px;
		margin-bottom: 0.5rem;
	}
}

@media (max-width: 480px) {
	.s_second_card > a > div {
		height: 35px;
		font-size: 1rem;
		max-width: 110px;
	}
}

.s_second_card > div > img {
	width: 60%;
}

.s_third {
	background: #333;
}

.s_third_logoImage {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.s_third_title {
	font-size: 2.5rem;
	margin: 2rem 0;
	text-align: center;
	line-height: 1.2;
	font-weight: normal;
	color: #333;
}

@media (max-width: 767px) {
	.s_third_title {
		font-size: 1.8rem;
	}
}

.s_third_desc {
	font-weight: 400;
	text-align: center;
	font-size: 18px;
	line-height: 1.5;
	color: #333;
}

@media (max-width: 767px) {
	.s_third_desc {
		display: none;
	}
}

.s_third_cardContainer {
	margin-top: 2.7rem;
	justify-content: center;
}

.s_third_cardContainer.alliance {
	justify-content: flex-start;
}

.s_third_card {
	background: white;
	width: 270px;
	height: 270px;
	padding: 28px;
	margin: 8px;
	color: #333;
}

.alliance .s_third_card {
	flex-grow: 1;
	padding: 0;
	margin-left: 0;
	margin-right: 20px;
}

.alliance .s_third_card:last-child {
	margin-right: 0;
}

.s_third_card > div:first-child {
	font-size: 26px;
	font-weight: 500;
}

.s_third_card > div:nth-child(2) {
	width: 26px;
	height: 3px;
	background: #2b80eb;
	margin-top: 8px;
}

.s_third_card > div:last-child {
	color: #555;
	margin-top: 32px;
	font-size: 18px;
	line-height: 1.4;
}

.s_third_link {
	margin: 2rem auto auto;
	max-width: 545px;
	height: 78px;
	border-radius: 39px;
	background-color: #2b80eb;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1.8rem;
	font-weight: normal;
}

.s_third_link:hover {
	opacity: 0.8;
}

@media (max-width: 767px) {
	.s_third_link {
		font-size: 1.6rem;
		height: 60px;
	}
}

.s_contentSection {
	background: white;
	position: relative;
	height: 100%;
	padding: 5rem 0;
}

.s_fourth_title {
	letter-spacing: 1.32px;
	text-align: center;
	font-size: 2.7rem;
	font-weight: 500;
}

@media (max-width: 767px) {
	.s_fourth_title {
		font-size: 2rem;
	}
}

.s_fourth_contentsWrapper {
	margin-top: 2rem;
}

.s_fourth_image {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.s_fourth_image > img {
	width: 100%;
}

.s_fourth_itemContainer {
	margin: 3rem 0;
}

.s_fourth_itemText {
	padding: 1rem;
}

@media (max-width: 767px) {
	.s_fourth_itemText {
		margin-top: 2rem;
	}
}

.s_fourth_item_title {
	word-break: break-all;
	font-size: 1.8rem;
	color: #333;
	font-weight: 400;
	position: relative;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
}

@media (max-width: 767px) {
	.s_fourth_item_title {
		font-size: 1.3rem;
	}
}

.s_fourth_item_desc {
	margin-top: 1rem;
	font-weight: 400;
	color: #676767;
	letter-spacing: 0.6px;
	line-height: 1.7;
}

.s_fourth_item_desc > div {
	margin-bottom: 1rem;
}

@media (max-width: 767px) {
	.s_fourth_item_desc {
		font-size: 0.9rem;
		line-height: 1.5;
	}
}

.s_fourth_more {
	width: 71px;
	height: 23px;
	border: solid 1px #1c7ef9;
	background-color: #ffffff;
	color: #1c7ef9;
	cursor: pointer;
	font-size: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2rem;
	transition: all ease 0.3s;
}

.s_fourth_more:hover {
	color: white;
	background: #1c7ef9;
}

@media (max-width: 767px) {
	.s_fourth_more {
		margin-left: 1rem;
		width: 65px;
		font-size: 0.8rem;
		height: 22px;
	}
}

.s_fifth {
	background: #2b80eb;
}

.s_fifth_title {
	text-align: center;
	font-size: 2.7rem;
	color: white;
	letter-spacing: 1.32px;
	font-weight: 500;
}

@media (max-width: 767px) {
	.s_fifth_title {
		font-size: 2rem;
	}
}

@media (max-width: 767px) {
	.s_fifth_item {
		padding: 0;
	}
}

.s_fifth_contentsWrapper {
	margin-top: 2rem;
}

.s_fifth_name {
	font-size: 1.7rem;
	font-weight: 500;
	color: white;
	line-height: 1.43;
}

@media (max-width: 767px) {
	.s_fifth_name {
		font-size: 1.4rem;
	}
}

.s_fifth_nameWrapper {
	align-items: center;
}

.s_fifth_iconWrapper {
	width: 23px;
	height: 23px;
	margin-left: 1rem;
}

.s_fifth_iconWrapper > img {
	width: 27px;
	height: 27px;
	position: absolute;
	cursor: pointer;
}

@media (max-width: 767px) {
	.s_fifth_iconWrapper > img {
		width: 24px;
		height: 24px;
	}
}

.s_fifth_position {
	color: white;
	background: #0060b5;
	font-size: 1.4rem;
	padding: 6px 8px;
	text-align: center;
	font-weight: 500;
	margin-right: 1.2rem;
}

@media (max-width: 767px) {
	.s_fifth_position {
		margin-right: 0.8rem;
		height: 28px;
		width: 50px;
		font-size: 1rem;
	}
}

.s_fifth_careerWrapper {
	margin-top: 1rem;
}

.s_fifth_careerSub {
	border: 1px solid white;
	border-radius: 10px;
	padding: 1rem;
	color: white;
	line-height: 1.5;
	font-size: 0.9rem;
	margin-top: 1rem;
}

.s_fifth_career {
	padding-left: 1rem;
	position: relative;
	font-weight: normal;
	color: white;
	line-height: 1.7;
	margin-bottom: 1rem;
}

@media (max-width: 767px) {
	.s_fifth_career {
		line-height: 1.5;
		font-size: 0.9rem;
	}
}

.s_fifth_career:before {
	content: "\2022";
	margin-right: 1rem;
	position: absolute;
	font-size: 1rem;
	left: 0;
}

.s_sixth_title {
	letter-spacing: 1.32px;
	text-align: center;
	font-size: 2.7rem;
	font-weight: 500;
}

.s_sixth_contentsWrapper {
	margin-top: 2rem;
}

.s_sixth_image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.s_sixth_item {
	margin: 1rem 0;
}

.s_sixth_item_desc {
	font-weight: 400;
	height: 100%;
	display: flex;
	align-items: center;
	color: #676767;
	line-height: 1.8;
}

.s_seventh {
	background: #333;
}

.s_seventh_itemContainer {
	justify-content: center;
}

.s_seventh_title {
	text-align: center;
	font-size: 2.7rem;
	font-weight: 500;
	color: white;
}

@media (max-width: 767px) {
	.s_seventh_title {
		font-size: 2rem;
	}
}

.s_seventh_contentsWrapper {
	margin-top: 2rem;
}

.s_seventh_desc {
	font-weight: normal;
	text-align: center;
	margin-top: 2rem;
	line-height: 2.5;
	color: white;
}

@media (max-width: 767px) {
	.s_seventh_desc {
		line-height: 1.5;
		font-size: 0.8rem;
	}
}

.s_seventh_cardContents {
	padding: 1.5rem 1rem;
	margin-top: -5px;
	background: white;
}

@media (max-width: 767px) {
	.s_seventh_cardContents {
		padding: 1rem;
	}
}

.s_seventh_date {
	font-size: 0.8rem;
	color: #888888;
	font-weight: 300;
}

@media (max-width: 767px) {
	.s_seventh_date {
		font-size: 0.6rem;
	}
}

.s_seventh_category {
	margin-top: 0.5rem;
}

@media (max-width: 767px) {
	.s_seventh_category {
		width: 80px;
		font-size: 0.9rem;
		height: 25px;
	}
}

.s_seventh_category > div {
	font-size: 1rem;
	text-align: center;
	background: black;
	color: white;
	font-weight: 700;
	width: 100px;
	height: 30px;
	line-height: 30px;
	border-radius: 18px;
	margin-top: 1rem;
}

@media (max-width: 767px) {
	.s_seventh_category > div {
		width: 80px;
		height: 23px;
		padding-top: 3px;
		font-size: 0.8rem;
		line-height: 20px;
	}
}

.s_seventh_subTitle {
	margin-top: 1.1rem;
	line-height: 1.56;
	color: #333;
	font-weight: 300;
	font-size: 1rem;
}

.s_seventh_subTitle:hover {
	color: #1c7ef9;
}

@media (max-width: 767px) {
	.s_seventh_subTitle {
		font-size: 0.8rem;
	}
}

.s_seventh_thumbnail {
	width: 100%;
	cursor: pointer;
	height: 215px;
}

.s_eighth {
	margin-top: 3rem;
}

.s_eighth_title {
	color: #1c7ef9;
	font-size: 1.7rem;
	text-align: center;
	font-weight: 500;
}

.s_eighth_contentsWrapper {
	margin-top: 2rem;
}

.s_eighth_mapWrapper {
	width: 100%;
	padding: 1rem;
}

.s_eighth_mapWrapper > img {
	width: 100%;
}

.s_eighth_mainSiteLink {
	font-size: 2rem;
	font-weight: 500;
	color: #1c7ef9;
	cursor: pointer;
	border-bottom: 2px solid #1c7ef9;
	display: inline-block;
	margin-bottom: 1rem;
}

.s_eighth_address {
	font-weight: 400;
}

.s_eighth_contactUs {
	display: inline-block;
	background: #f58700;
	color: white;
	font-size: 1.1rem;
	font-weight: 400;
	border-radius: 3px;
	padding: 5px 7px;
}

.s_eighth_contacts {
	margin-top: 1rem;
}

.s_eighth_contacts > div {
	font-weight: 400;
	font-size: 0.9rem;
}

.s_firstSection {
	background: #1fa7ed;
	position: relative;
	overflow: hidden;
	padding: 60px 0 30px 0;
}

.s_firstSection.technology {
	background: url("../img/technology/bg_technology.jpg");
	background-size: cover;
	background-position: center;
}

.s_firstSection.service {
	background: url("../img/service/bg_service.jpg");
	background-size: cover;
	background-position: center;
}

.s_firstSection.alliance {
	background: url("../img/alliance/bg_alliance.jpg");
	background-size: cover;
	background-position: center;
}

.s_firstSection.press {
	background: url("../img/press/bg_press.jpg");
	background-size: cover;
	background-position: center;
}

.s_firstSection.summary {
	background: url("../img/summary/bg_summary.jpg");
	background-size: cover;
	background-position: center;
}

@media (max-width: 576px) {
	.s_firstSection.technology {
		background: url("../img/technology/bg_technology_mobile.jpg");
		background-size: cover;
		background-position: center;
		padding: 100px 0 50px 0;
	}

	.s_firstSection.service {
		background: url("../img/service/bg_service_mobile.jpg");
		background-size: cover;
		background-position: center;
		padding: 100px 0 50px 0;
	}

	.s_firstSection.alliance {
		background: url("../img/alliance/bg_alliance_mobile.jpg");
		background-size: cover;
		background-position: center;
		padding: 100px 0 50px 0;
	}

	.s_firstSection.press {
		background: url("../img/press/bg_press_mobile.jpg");
		background-size: cover;
		background-position: center;
		padding: 100px 0 50px 0;
	}

	.s_firstSection.summary {
		background: url("../img/summary/bg_summary_mobile.jpg");
		background-size: cover;
		background-position: center;
		padding: 100px 0 50px 0;
	}
}

.s_secondSection {
	background: white;
	position: relative;
	padding: 5rem 0;
}

.s_secondSection.index {
	height: 600px;
}

@media (max-width: 767px) {
	.s_secondSection.index {
		height: 1100px;
	}
}

@media (max-width: 480px) {
	.s_secondSection.index {
		height: 950px;
	}
}

.s_secondSection.alliance {
	padding: 80px 20px 60px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

@media (max-width: 576px) {
	.s_secondSection.alliance {
		padding: 60px 20px 40px;
	}

	.s_secondSection.service .s_contentsWrapper2 {
		flex-direction: column-reverse;
	}

	.s_secondSection.summary .s_contentsDesc {
		margin-bottom: 20px;
	}
}

.s_secondSection > .firstContainer {
	padding: 40px 60px;
	position: absolute;
	top: -120px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	background-color: white;
}

@media (max-width: 767px) {
	.s_secondSection > .firstContainer {
		top: -80px;
		width: 90%;
		padding: 20px 0;
	}
}

.s_thirdSection {
	background: #94ccff;
	padding: 5rem 0;
	position: relative;
	overflow: hidden;
}

.s_thirdSection.service {
	background: #eee;
}

.s_thirdSection.alliance {
	padding: 0;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url("../img/alliance/one-for-all.jpg");
	background-size: cover;
	background-position: center;
}

.s_contentsWrapper {
	width: 100%;
	height: 400px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px 20px 80px;
	height: 100%;
}

.alliance .s_title {
	color: #fff;
	font-size: 42px;
	line-height: 1.4;
	padding: 0;
	margin: 0;
}

.service .s_title {
	margin-top: 0;
}

.alliance .a_desc {
	text-align: left;
}

.s_fourthSection {
	background: #0f7bff;
	padding: 4rem 0;
	position: relative;
	overflow: hidden;
}

.s_fourthSection.alliance {
	background-color: #fff;
	padding: 80px 20px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.s_fifthSection {
	background: #414244;
	padding: 4rem 0;
	position: relative;
	overflow: hidden;
}

.s_firstSection .container {
	text-align: center;
}

.s_contentsBox {
	margin-top: 1.5rem;
}

@media (max-width: 575px) {
	.s_contentsBox > div {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}

	.s_contentsBox > div:first-child {
		margin-bottom: 16px;
	}

	.s_contentsBox > div > a {
		display: flex;
		justify-content: center;
		margin-top: 2rem;
	}
}

.s_contentsWrapper2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.s_contentsText {
	width: 50%;
	margin-right: 40px;
}

.s_contentsText.left {
	margin-right: 0;
	margin-left: 40px;
}

.s_title {
	font-size: 36px;
	line-height: 1.4;
	font-weight: 500;
	margin: 0 0 40px;
}

.s_contentsDesc {
	font-size: 18px;
	line-height: 1.5;
	text-align: left;
	color: #333;
}

.s_contentsDesc > span {
	background: #000000;
	font-weight: bold;
	color: white;
	padding: 2px 5px;
}

.s_imgContainer {
	width: 50%;
	margin-left: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.s_imgContainer > img {
	max-width: 100%;
}

.s_imgContainer.right {
	margin-left: 0;
	margin-right: 40px;
}

.s_imgContainer > img:nth-child(2) {
	margin-top: 20px;
}

@media (max-width: 575px) {
	.s_contentsWrapper2 {
		flex-direction: column;
		justify-content: center;
	}

	.s_contentsText {
		width: 100%;
		margin: 0 !important;
	}

	.s_title {
		margin-top: 2rem;
		font-size: 1.5rem;
	}

	.service .s_title {
		margin-top: 32px;
	}

	.s_contentsDesc {
		margin-top: 0;
		font-size: 0.9rem;
		line-height: 1.7;
		text-align: left;
	}

	.s_imgContainer {
		width: 100%;
		margin: 0 !important;
	}

	.s_imgContainer > img:nth-child(2) {
		display: none;
	}
}

.s_contentsDescSub {
	min-height: 300px;
}

@media (max-width: 575px) {
	.s_contentsDescSub {
		margin-top: 3rem;
		min-height: auto;
	}
}

.s_imgContainerSub > img {
	margin-top: -60px;
}

@media (max-width: 575px) {
	.s_imgContainerSub > img {
		margin-top: 1rem;
	}
}

.s_descTitle {
	font-size: 1.7rem;
	font-weight: 500;
	line-height: 1.3;
	margin-bottom: 1rem;
}

/*************************************
               FOOTER
**************************************/

#footer {
	padding: 2rem 0;
	border-top: 1px solid #a7a7a7;
}

#footer > .container {
	align-items: center;
}

.f_firstSection {
	height: 50px;
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 0;
}

@media (max-width: 991px) {
	.f_firstSection {
		height: 55px;
		justify-content: center;
	}
}

.f_snsWrapper {
	justify-content: right;
	align-items: center;
}

.f_snsWrapper > div {
	padding: 0 0.4rem;
}

.f_snsWrapper > div > a > img {
	max-width: 40px;
}

.f_snsWrapper > div > a,
.f_snsWrapper > div > a > img {
	width: inherit;
}

@media (max-width: 991px) {
	.f_snsWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.f_snsWrapper > a {
		margin: 0 0.2rem;
	}
}

.f_firstSection > a {
	width: 100%;
	height: 100%;
}

.f_secondSection > a {
	margin: 0 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 20px;
	color: #333;
}

.f_thirdSection {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@media (max-width: 991px) {
	.f_thirdSection {
		justify-content: center;
		margin-top: 2rem;
	}
}

.f_address {
	font-size: 0.8rem;
	line-height: 1.8;
	letter-spacing: normal;
	color: #6a6a6a;
	align-items: center;
	justify-content: left;
	display: flex;
}

@media (max-width: 991px) {
	.f_address {
		margin-bottom: 1rem;
		margin-top: 1rem;
		justify-content: center;
	}
}

.f_address > div:first-child {
	font-weight: normal;
}

.f_address > div:last-child {
	font-weight: 100;
}

.dropdown,
.dropup {
	position: relative;
	border: 1px solid #a7a7a7;
	transition: all ease 0.4s;
}

.dropdown:hover,
.dropup:hover {
	border: 1px solid #1c7ef9;
}

.dropdown > button,
.dropup > button {
	transition: all ease 0.4s;
}

.dropdown:hover > button,
.dropup:hover > button {
	color: #1c7ef9;
}

.btn-primary {
	color: #333;
	background-color: white;
	border-color: #333;
}

.btn {
	outline: none;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 500;
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 185px;
}

.btn .caret {
	margin-left: 0;
}

.open .caret {
	transform: rotate(-180deg);
	top: 13px;
}

.caret {
	position: absolute;
	right: 1rem;
	width: 0;
	top: 15px;
	height: 0;
	border-top: 7px dashed;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	transition: all ease 0.4s;
}

.dropdown-menu {
	position: absolute;
	bottom: 35px;
	width: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #00000052;
	background-clip: padding-box;
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: white;
	white-space: nowrap;
}

.dropdown-white {
	bottom: -89px;
}

.dropdown-menu > li > a:hover {
	color: #1c7ef9;
}

.open > .dropdown-menu {
	display: block;
}

/*************************************
               SUMMARY
**************************************/

.sm_container {
	padding: 3rem 0;
}

.sm_imgContainer > img:first-child {
	display: block;
}

.sm_imgContainer > img:last-child {
	display: none;
}

@media (max-width: 575px) {
	.sm_imgContainer > img:first-child {
		display: none;
	}

	.sm_imgContainer > img:last-child {
		display: block;
	}
}

.sm_imgContainerVision {
	width: 80%;
	margin: auto;
}

@media (max-width: 575px) {
	.sm_imgContainerVision {
		width: 100%;
	}
}

.sm_imgContainer > img {
	width: 100%;
}

.sm_title {
	font-size: 48px;
	font-weight: 300;
	text-align: left;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.sm_title > span {
	font-weight: 600;
	background: linear-gradient(1800deg, #0059c9 50%, white 50%);
}

.sm_subTitle {
	font-size: 1.2rem;
	font-weight: 400;
	text-align: center;
	margin-top: 2rem;
}

.sm_descContainer {
	min-height: 570px;
}

.sm_strategyText {
	font-size: 2.4rem;
	color: white;
}

@media (max-width: 576px) {
	.sm_title {
		margin-top: 0;
		font-size: 28px;
	}
}

.sm_strategyText > span {
	color: #1fa7ed;
	background: #0000006b;
	padding: 0 5px;
}

.sm_lastSection {
	background: #444;
	padding: 80px 0 0;
}

.sm_lastTitle {
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	line-height: 1.3;
	color: white;
}

.sm_lastSubTitle {
	text-align: center;
	font-size: 24px;
	line-height: 1.3;
	color: white;
	margin-top: 16px;
}

.sm_lastSubTitle > span {
	font-weight: 500;
}

.sm_polarisshare {
	padding: 8px;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 600;
	border: 1px solid white;
	color: white;
}

.sm_slides_wrapper {
	position: relative;
	height: 500px;
	margin-top: 70px;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("../img/summary/slide_bg.jpg");
	background-size: cover;
	background-position: center;
}

.sm_slides {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.slide {
	color: white;
	padding: 100px 60px;
	display: none;
	flex-direction: column;
	align-items: center;
}

.slide.active {
	display: flex;
	animation: fade_in_show 0.5s;
}

.slide > h3 {
	margin: 0;
	text-align: center;
	font-size: 48px;
}

.slide > p {
	margin-top: 60px;
	text-align: center;
	font-size: 16px;
	line-height: 1.5;
	max-width: 800px;
}

.slider {
	width: 100%;
	position: absolute;
	bottom: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider .js-dot {
	width: 10px;
	height: 10px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

.slider span:hover {
	cursor: pointer;
}

.slider span:not(:first-child) {
	margin-left: 16px;
}

#slider-dots {
	display: flex;
}

.slider span.active .js-dot {
	background: white;
}

@media (max-width: 576px) {
	.container.summary {
		padding: 0;
	}

	.sm_lastSection {
		padding-top: 60px;
	}

	.sm_lastTitle {
		padding: 0 20px;
		font-size: 28px;
	}

	.sm_lastSubTitle {
		padding: 0 20px;
		font-size: 18px;
	}

	.slide {
		padding: 60px 24px;
	}

	.slide h3 {
		font-size: 28px;
	}

	.slide p {
		margin-top: 28px;
		font-size: 15px;
	}
}

/*************************************
               SERVICE
**************************************/

.sv_whitepaper {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 34px;
	padding: 10px;
	background-color: transparent;
	color: #0059c9;
	font-weight: 500;
	border: 1px solid #0059c9;
	font-size: 14px;
}

.sv_whitepaper:hover {
	background: #0059c9;
	color: white;
}

@media (max-width: 575px) {
	.sv_whitepaper {
		margin: 2rem auto 0 auto;
	}
}

.sv_list {
	font-size: 22px;
	line-height: 1.3;
	color: #333;
	margin-bottom: 2rem;
	font-weight: 500;
}

.sv_list > span {
	background: linear-gradient(1800deg, #94ccff 50%, transparent 50%);
}

.sv_list > img {
	margin-right: 1rem;
}

@media (max-width: 575px) {
	.sv_list {
		font-size: 1.2rem;
	}

	.sv_list > img {
		margin-right: 0.5rem;
	}
}

/*************************************
             TECHNOLOGY
**************************************/

.t_lastSection {
	padding: 80px 0;
	background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
		url("../img/technology/t_bg.jpg");
	background-size: cover;
	background-position: center;
}

.t_title {
	color: white;
	font-size: 36px;
	line-height: 1.4;
	font-weight: 500;
	margin: 0 0 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.t_underline {
	margin-top: 24px;
	width: 24px;
	height: 3px;
	background-color: white;
}

.t_contentsDesc {
	text-align: left;
	color: #676767;
	margin-top: 5px;
}

.t_contentsDescWhite {
	color: white;
	font-size: 18px;
	line-height: 1.5;
	text-align: center;
}

.t_desc {
	padding-top: 3rem;
	font-weight: 500;
}

.t_contentsBox {
	margin-top: 5rem;
	margin-bottom: 3rem;
}

@media (max-width: 576px) {
	.t_contentsBox {
		margin-top: 2rem;
	}

	.t_contentsDescWhite {
		font-size: 15px;
	}
}

@media (max-width: 575px) {
	.t_title {
		font-size: 1.7rem;
	}
}

.t_contents {
	margin-bottom: 1rem;
}

.t_subTitle {
	font-size: 20px;
	font-weight: 400;
	text-align: left;
	margin-bottom: 40px;
}

.t_contentsTitle {
	font-size: 20px;
	font-weight: 500;
}

.t_contentsTitle > span {
	background: linear-gradient(1800deg, #94ccff 50%, transparent 50%);
}

.t_contentsDescSub:before {
	content: "\2022";
	margin-right: 0.5rem;
	font-size: 1rem;
}

.t_imgContainer {
	display: flex;
	justify-content: center;
}

.t_imgContainer > img {
	max-width: 600px;
}

@media (max-width: 576px) {
	.t_imgContainer > img {
		width: 100%;
	}
}

.t_tabItem:nth-child(2) {
	border-left: 1px solid #004daf !important;
}

.t_tabItem[class*="click"] + div {
	border-left: 0 solid #004daf !important;
	border-right: 1px solid #004daf !important;
}

.t_roadMap_container {
	margin: 2.2rem 0 3rem 0;
}

.t_roadMapWrapper > img {
	width: 100%;
}

.t_roadMapListItem {
	padding: 1rem 3rem;
	background: rgb(31, 167, 237);
	background: linear-gradient(
		52deg,
		rgba(31, 167, 237, 1) 39%,
		rgba(14, 121, 255, 1) 81%
	);
	color: white;
	border-radius: 40px;
	display: flex;
	position: relative;
	font-size: 1.7rem;
	font-weight: 500;
	margin-bottom: 3rem;
	align-items: center;
}

.t_roadMapListItem > span {
	font-size: 2rem;
	margin-right: 1rem;
}

.t_roadMapQuarterImgWrapper {
	position: absolute;
	background: rgb(31, 167, 237);
	background: linear-gradient(
		52deg,
		rgba(31, 167, 237, 1) 39%,
		rgba(14, 121, 255, 1) 81%
	);
	color: white;
	left: 0;
	top: 0;
	border-radius: 40px;
	padding: 12px 30px;
	font-size: 1.5rem;
	font-weight: 500;
}

.t_roadMap_date {
	font-size: 1.5rem;
	color: #01309b;
	margin-bottom: 1rem;
}

.t_roadMap_hr {
	height: 5px;
	width: 100%;
	background: rgba(226, 239, 255, 1);
	position: relative;
	margin-bottom: 1rem;
}

.t_roadMap_hr:before {
	color: #0055c0;
	content: "\2022";
	position: absolute;
	font-size: 4rem;
	left: -5px;
	top: -31px;
}

.t_roadMap_content {
	color: #4c4c4c;
	padding-right: 3rem;
	line-height: 1.6;
}

@media (max-width: 767px) {
	.t_roadMap_content {
		padding-right: 0;
	}
}

.t_roadMap_content > div {
	margin-top: 0.5rem;
	font-size: 0.8rem;
	position: relative;
	padding-left: 0.6rem;
	line-height: 1.6;
	color: #585858;
}

.t_roadMap_content > div:before {
	content: "-";
	position: absolute;
	left: 2px;
	top: -4px;
	font-size: 1rem;
}

.t_roadMap_cell:last-child > .t_roadMap_hr {
	border-radius: 40px;
}

.t_roadMap_cell {
	padding: 0 !important;
	margin-bottom: 2rem;
}

/*************************************
             ALLIANCE
**************************************/

.a_logoImage {
	margin: auto;
	display: none;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

@media (max-width: 576px) {
	.a_logoImage {
		display: flex;
	}

	.a_logoImage > img {
		width: 50%;
	}
}

.a_headerContainer {
	display: flex;
	justify-content: space-between;
}

.a_title {
	position: relative;
	font-size: 2.5rem;
	text-align: left;
	line-height: 1.4;
	font-weight: 500;
	color: #333;
}

@media (max-width: 576px) {
	.a_title {
		text-align: center;
	}
}

.a_title > a {
	color: #333;
	background: linear-gradient(1800deg, #0059c9 50%, white 50%);
}

.a_title > a:focus-visible {
	outline: none;
}

.a_underline {
	position: absolute;
	left: 1px;
	bottom: 2px;
	width: 237px;
	height: 4px;
	background: #0059c9;
}

@media (max-width: 575px) {
	.a_title {
		font-size: 2rem;
	}
}

.a_desc {
	margin-top: 24px;
	font-weight: 400;
	text-align: center;
	font-size: 1rem;
	line-height: 1.8;
	color: #676767;
}

.a_descBold {
	font-weight: 600;
	text-align: center;
	font-size: 1rem;
	line-height: 1.8;
}

.a_cardContainer {
	margin-top: 2.7rem;
	justify-content: flex-start;
}

.a_card {
	width: 270px;
	min-height: 270px;
	flex-grow: 1;
	padding: 0;
	margin-top: 20px;
	margin-left: 0;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
}

.a_card:last-child {
	margin-right: 0;
}

.a_linkContainer {
	display: block;
}

.a_linkContainer_mobile {
	display: none;
}

.a_card_img {
	width: 60%;
	margin-bottom: 8px;
	display: none;
}

.a_link {
	margin-top: 16px;
	margin-right: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 34px;
	padding: 10px;
	background-color: white;
	color: #0059c9;
	font-weight: 500;
	border: 1px solid #0059c9;
	font-size: 14px;
}

.a_link:hover {
	background-color: #0059c9;
	color: white;
}

@media (max-width: 575px) {
	.a_link {
		font-size: 1.3rem;
		min-height: 60px;
	}
}

.a_card_title {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.4;
	text-align: left;
}

.a_card_title > span {
	background: linear-gradient(1800deg, #94ccff 50%, white 50%);
}

.a_card_desc {
	font-weight: 400;
	text-align: left;
	font-size: 1rem;
	line-height: 1.5;
	color: #676767;
	margin-top: 24px;
}

.a_iframeWrapper {
	max-width: 560px;
	max-height: 315px;
	width: 100%;
	height: 100%;
}

.a_firstDesc {
	color: #676767;
	font-size: 1.1rem;
	font-weight: 300;
	line-height: 1.8;
}

@media (max-width: 575px) {
	.a_firstDesc {
		text-align: center;
		font-size: 0.9rem;
	}
}

.a_firstDesc > span {
	font-weight: bold;
	color: #333;
}

.a_showBtn {
	color: white;
	border: 1px solid white;
	background: transparent;
	font-weight: bold;
	display: inline-block;
	padding: 12px;
	font-size: 20px;
	margin-top: 4px;
}

.a_showBtn:hover {
	cursor: pointer;
	background: #0059c9;
}

@media (max-width: 576px) {
	.a_card {
		align-items: center;
		margin-right: 0;
	}

	.a_card_title {
		text-align: center;
	}

	.a_card_desc {
		text-align: center;
	}

	.a_linkContainer {
		display: none;
	}

	.a_linkContainer_mobile {
		margin-top: 56px;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.a_linkContainer_mobile .a_link {
		background-color: #0059c9;
		color: white;
	}

	.a_link {
		margin-top: 0;
		margin-right: 0;
	}

	.a_card_img {
		display: block;
	}
}

/*************************************
                PRESS
**************************************/

.p_title {
	font-size: 2.5rem;
	margin: 3rem 0 2rem 0;
	text-align: center;
	line-height: 1.14;
	font-weight: 500;
	color: #333;
}

@media (max-width: 575px) {
	.p_title {
		font-size: 2rem;
		margin: 0 0 2rem 0;
	}
}

.p_desc {
	font-weight: 400;
	text-align: center;
	font-size: 1rem;
	line-height: 1.8;
	color: #676767;
}

@media (max-width: 575px) {
	.p_itemContainer {
		margin-top: 0;
		justify-content: center;
	}
}

.p_card {
	box-shadow: 0 2px 4px 0 #aaa;
	width: 385px;
	position: relative;
	margin: 70px 20px 70px 0;
}

@media (max-width: 576px) {
	.p_card {
		margin-left: 0;
		margin-right: 0;
	}

	.p_card:first-child {
		margin-top: 0;
	}
}

.p_card:hover {
	border-color: #1c7ef9;
}

.p_card > a {
	display: block;
	position: relative;
	width: 100%;
	height: 280px;
}

.p_card > a:hover {
	outline: none;
	color: inherit;
}

.p_card > a:hover .p_cardContents {
	bottom: -60px;
	background: #0059c9;
	border: 1px solid #0059c9;
	color: white;
	border: none;
}

.p_card > a:hover .p_cardContents .p_subTitle {
	color: white;
}

.p_card > a:hover .p_cardContents .p_category {
	background: white;
	color: #0059c9;
}

.p_thumbnail {
	width: 100%;
	cursor: pointer;
	height: 280px;
}

.p_cardContents {
	position: absolute;
	bottom: -90px;
	left: 50%;
	transform: translateX(-50%);
	transition: bottom 0.5s;
	width: calc(100% - 30px);
	height: 200px;
	border: 1px solid #ccc;
	padding: 30px 20px;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.p_subTitle {
	font-size: 18px;
	line-height: 1.5;
	color: #333;
	font-weight: 400;
}

.p_group {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.p_category {
	font-size: 16px;
	text-align: center;
	background: #0059c9;
	color: white;
	font-weight: 700;
	padding: 10px 16px;
}

.p_date {
	font-size: 14px;
}
/* ---- stats.js ---- */

.count-particles {
	background: #000022;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #13e8e9;
	font-size: 0.8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.js-count-particles {
	font-size: 1.1em;
}

#stats,
.count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}

#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}

.count-particles {
	border-radius: 0 0 3px 3px;
}
