<section class="s_secondSection">
    <div class="container">
        <div class="col-12 d-block d-sm-none">
            <div class="s_imgContainer w-100 m-0">
                <img src="../assets/img/service/airdrop_1_documents.png" alt="service airdrop image"/>
            </div>
        </div>
        <div class="s_title">에어드랍을 통한 초기 사용자 유치</div>
        <div class="s_contentsBox  row">
            <div class="col-12 col-sm-6 pl-0">
                <div class="s_contentsDesc">
                    지식 생태계를 구축하기 위해서 필요한 구성 요소는 두 가지이다. 즉, 충분한 수의 지식 생산자와 문서입니다.
                    <br>
                    이 두 가지 요소는 Polaris Office가 보유한 핵심 자산입니다.
                    <br>
                    Polaris Office의 사용자는 약 1억명에 이릅니다.
                    <br>
                    Polaris Office는 약 1,000만명의 MAU(월간 적극 사용자)를 보유한 매우 활발한 서비스 플랫폼으로서 특별한 디지털 마케팅 없이도
                    <br>
                    날마다 약 50,000명의 사용자가 꾸준히 유입되고 있습니다.
                </div>
            </div>
            <div class="d-none d-sm-block col-sm-6 pr-0">
                <div class="s_imgContainer w-100 m-0">
                    <img src="../assets/img/service/airdrop_1_documents.png" alt="service airdrop image"/>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="s_thirdSection">
    <div class="common_bgWrapper_grey">
        <img src="../assets/img/figure/f_back_1.png" alt="bg"/>
        <img src="../assets/img/figure/f_back_2.png" alt="bg"/>
        <img src="../assets/img/figure/f_back_3.png" alt="bg"/>
    </div>
    <div class="container">
        <div class="col-12 d-block d-sm-none">
            <div class="s_imgContainer w-100 m-0">
                <img src="../assets/img/service/airdrop_3_sales.png" alt="service airdrop image"/>
            </div>
        </div>
        <div class="s_title">유료 문서 판매</div>
        <div class="s_contentsBox  row">
            <div class="col-12 col-sm-6 pl-0">
                <div class="sv_list">
                    <img src="../assets/img/service/service_numbering_1.png" alt=""/>
                    유료 문서 판매
                </div>
                <div class="sv_list">
                    <img src="../assets/img/service/service_numbering_2.png" alt=""/>
                    유료 문서 감수 및 큐레이팅 요청
                </div>
                <div class="sv_list">
                    <img src="../assets/img/service/service_numbering_3.png" alt=""/>
                    유료 문서의 가격
                </div>

            </div>
            <div class="d-none d-sm-block col-sm-6 pr-0">
                <div class="s_imgContainer w-100 m-0">
                    <img src="../assets/img/service/airdrop_3_sales.png" alt="service airdrop image"/>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="s_secondSection">
    <div class="container">
        <div class="col-12 d-block d-sm-none">
            <div class="s_imgContainer w-100 m-0">
                <img src="../assets/img/service/airdrop_2_token.png" alt="service airdrop image"/>
            </div>
        </div>
        <div class="s_title">문서 무료 공유 및 문서 큐레이팅에 대한 보상</div>
        <div class="s_contentsBox  row">
            <div class="col-12 col-sm-6 pl-0">
                <div class="sv_list">
                    <img src="../assets/img/service/service_numbering_1.png" alt=""/>
                    무료 문서의 지식 생산자에 대한 보상
                </div>
                <div class="sv_list">
                    <img src="../assets/img/service/service_numbering_2.png" alt=""/>
                    무료 문서의 큐레이팅
                </div>
                <div class="sv_list">
                    <img src="../assets/img/service/service_numbering_3.png" alt=""/>
                    신뢰할 수 있는 큐레이터 및 간접 투표를 통한 큐레이팅
                </div>
            </div>
            <div class="d-none d-sm-block col-sm-6 pr-0">
                <div class="s_imgContainer w-100 m-0">
                    <img src="../assets/img/service/airdrop_2_token.png" alt="service airdrop image"/>
                </div>
            </div>
        </div>
    </div>
</section>