<section class="s_secondSection pt-0">
    <div class="container">

        <div class="t_contentsBox">
            <div class="t_roadMapWrapper">

                <img src="../assets/img/technology/t_roadmap_new.png" alt="roadmap"/>

               <!-- <div class="t_roadMap_container">
                    <div class="t_roadMapListItem" lang="en">
                        <span>01</span> Launch of Polaris Office Cloud Service
                    </div>

                    <div class="row">
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2018.05
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                DECOMPANY 준비
                            </div>
                        </div>
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2018.06
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                Polaris Office 클라우드 서비스 활성화
                            </div>
                        </div>
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2018.4Q
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                ConsenSys 프로젝트 선정
                                <div>
                                    국내 유일 스타트업 프로젝트
                                </div>
                            </div>
                        </div>
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2019.2Q
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                DECOMPANY 1.0 테스트넷
                                <div>
                                    폴라리스오피스 활용 계획
                                </div>
                            </div>
                        </div>
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2019.2Q
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                Off-chain 지갑 지원
                            </div>
                        </div>
                    </div>
                </div>


                <div class="t_roadMap_container">
                    <div class="t_roadMapListItem">
                        <span>02</span> Launch of POLARIS SHARE Beta Service
                    </div>

                    <div class="row">
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2020.1Q
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                Polarishare.com Beta versionn open
                                <div>
                                    MVP 보완(라이브러리 출판 및 인증)
                                </div>
                            </div>
                        </div>
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2020.2Q
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                Polaris Office 클라우드 연동
                                <div>
                                    라이브러리 출판 기능 탑재
                                </div>
                            </div>
                        </div>
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2020.2Q
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                국내 거래소 상장 및 정식 토큰발행
                            </div>
                        </div>
                    </div>
                </div>


                <div class="t_roadMap_container">
                    <div class="t_roadMapListItem">
                        <span>03</span> POLARIS SHARE Phase 1 - Contents Pool
                    </div>

                    <div class="row">
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2020.3Q
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                POLARIS SHARE 메인넷에 배포
                                <div>
                                    MVP UI/UX renewal
                                </div>
                            </div>
                        </div>
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2020.4Q
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                Polarishare.com Grand open
                                <div>
                                    크리에이터 중심의 플랫폼 개편
                                </div>
                                <div>
                                    양질의 콘텐츠 수집을 위한 기능 탑재
                                    <br>
                                    (Funding, Commerce, Wallet, Review)
                                </div>
                            </div>
                        </div>
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2020.4Q
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                크리에이터 모집 및 보상 강화
                                <br>
                                글로벌 거래소 추가 상장 추진
                            </div>
                        </div>
                    </div>
                </div>


                <div class="t_roadMap_container">
                    <div class="t_roadMapListItem">
                        <span>04</span> POLARIS SHARE Phase 2 - User Pool
                    </div>

                    <div class="row">
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2021.1Q
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                Polarishare.com 사용자 중심의 고도화
                                <div>
                                    큐레이션 및 검색 기능 강화
                                </div>
                            </div>
                        </div>
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2021.1Q
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                모바일 APP 출시 및 광고
                            </div>
                        </div>
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2021.2Q
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                Polaris Office 클라우드 연동 확장
                                <div>
                                    라이브러리 출판채널 확장
                                </div>
                                <div>
                                    스토리지 호환
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="t_roadMap_container">
                    <div class="t_roadMapListItem">
                        <span>05</span> POLARIS SHARE 2.0 - Cloudsourcing Platform
                    </div>

                    <div class="row">
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2021.3Q
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                Polarishare.com 전문가 중심의 고도화
                                <div>
                                    분야별 전문가 선별 및 연결 기능 강화
                                </div>
                            </div>
                        </div>
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2021.4Q
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                2.0 모바일 APP 업데이트 및 광고
                            </div>
                        </div>
                        <div class="t_roadMap_cell col-12 col-md">
                            <div class="t_roadMap_date">
                                2021.4Q
                            </div>
                            <div class="t_roadMap_hr" lang="en">

                            </div>
                            <div class="t_roadMap_content">
                                국내 No.1 지식 & 전문가 네트워크 선정
                                <div>
                                    글로벌 점유율 확장
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</section>