<section class="s_secondSection service">
	<div class="container">
		<div class="s_contentsWrapper2">
			<div class="s_contentsText">
				<div class="s_title">
					토큰 배분
					<div class="s_underline"></div>
				</div>
				<div class="s_contentsDesc">
					<div class="t_contents">
						<div class="t_contentsTitle">
							<span> 토큰 기호: POLA 토큰 유형: ERC 20</span>
						</div>
						<div class="t_contentsDesc">
							전체 토큰 발행량 5,000,000,000 (50억, 100%)
						</div>
					</div>
					<div class="t_contents">
						<div class="t_contentsTitle">
							<span> 판매 토큰 1,250,000,000 (12.5억, 25%)</span>
						</div>
						<div class="t_contentsDesc">
							ICO를 통해 판매되는 토큰의 양은 전체 발행량의 25%가 될 예정이고,
							토큰 판매를 통해 조성한 기금은 개발 비용으로 사용될 계획입니다.
						</div>
					</div>
					<div class="t_contents">
						<div class="t_contentsTitle">
							<span> 생태계 1,050,000,000 (10.5억, 21%)</span>
						</div>
						<div class="t_contentsDesc">
							최대한 신속하게 사용자와 문서를 유치하기 위해 리워드 풀은 21%를
							배정할 것입니다.
						</div>
					</div>
					<div class="t_contents">
						<div class="t_contentsTitle">
							<span> 팀, 전략 파트너, 자문 1,400,000,000 (14억, 28%)</span>
						</div>
						<div class="t_contentsDesc">
							프로젝트에 참여한 팀 구성원, 프로젝트 성공을 위한 전략 파트너,
							자문에 대한 보상으로 사용될 예정입니다.
						</div>
					</div>
					<div class="t_contents">
						<div class="t_contentsTitle">
							<span> 예비 350,000,000 (3.5억, 7%)</span>
						</div>
						<div class="t_contentsDesc">
							처음에는 회사(재단)이 소유하며, 서비스 확장 같은 특수 목적이나
							POLARIS SHARE 개념을 넘어서는 뜻밖의 상황이 생기지 않는 한
							매각하는 일은 없을 것입니다.
						</div>
					</div>
					<div class="t_contents">
						<div class="t_contentsTitle">
							<span> 재단 500,000,000 (5억, 10%)</span>
						</div>
					</div>
					<div class="t_contents">
						<div class="t_contentsTitle">
							<span> 마케팅 250,000,000 (2.5억, 5%)</span>
						</div>
					</div>
					<div class="t_contents">
						<div class="t_contentsTitle">
							<span>에어드랍 200,000,000 (2억, 4%)</span>
						</div>
					</div>
				</div>
			</div>
			<div class="s_imgContainer">
				<img
					src="../assets/img/technology/t_tokenChart_2.png"
					alt="token chart"
				/>
			</div>
		</div>
	</div>
</section>

<section class="s_thirdSection service">
	<div class="container">
		<div class="s_title">
			토큰 사용
			<div class="s_underline"></div>
		</div>
		<div class="t_imgContainer">
			<img src="../assets/img/technology/t_tokenChart.png" alt="token chart" />
		</div>
	</div>
</section>
