<div class="sv_contentsBox">

    <div class="sv_title">Attracting Initial Users through the Air Drops</div>

    <div class="sv_imgContainer">
        <img src="img/service/airdrop_1_documents_en.png" alt="service airdrop image"/>
    </div>

    <div class="sv_contentsDesc mt-0 mt-sm-5">
        There are two  necessary components to build a knowledge ecosystem. That is, they are sufficient number of
        knowledge producers and documents.
        <br>
        These two factors are the core assets that the Polaris Office holds.
        <br>
        The Polaris Office has about 100 million users.
        <br>
        The Polaris Office is a very active service platform with about 10 million Monthly Active Users (MAU)
        <br>
        and has steady increases of about 50,000 users every day without the need for special digital marketing.
    </div>
</div>

<div class="sv_hrWrapper">
    <hr class="sv_hr">
</div>

<div class="sv_contentsBox">
    <div class="sv_title">Free Sharing Documents and Rewards for Curating Documents</div>
    <div class="sv_imgContainer">
        <img src="img/service/airdrop_2_token_en.png" alt="service reward image"/>
    </div>
</div>


<div class="sv_contentsBox">
    <div class="sv_title">Attracting Initial Users through the Air Drops</div>
    <div class="sv_imgContainer">
        <img src="img/service/airdrop_3_sales_en.png" alt="service selling image"/>
    </div>
</div>