<section class="s_secondSection">
    <div class="container">
        <div class="col-12 d-block d-sm-none">
            <div class="s_imgContainer w-100 m-0">
                <img src="assets/img/service/airdrop_1_documents_en.png" alt="service airdrop image"/>
            </div>
        </div>
        <div class="s_title">Attracting Initial Users through the Air Drops</div>
        <div class="s_contentsBox  row">
            <div class="col-12 col-sm-6 pl-0">
                <div class="s_contentsDesc">
                    There are two  necessary components to build a knowledge ecosystem. That is, they are sufficient
                    number
                    of
                    knowledge producers and documents.
                    <br>
                    <br>
                    These two factors are the core assets that the Polaris Office holds.
                    <br>
                    <br>
                    The Polaris Office has about 100 million users.
                    <br>
                    <br>
                    The Polaris Office is a very active service platform with about 10 million Monthly Active Users
                    (MAU)
                    and has steady increases of about 50,000 users every day without the need for special digital
                    marketing.
                </div>
            </div>
            <div class="d-none d-sm-block col-sm-6 pr-0">
                <div class="s_imgContainer w-100 m-0">
                    <img src="assets/img/service/airdrop_1_documents_en.png" alt="service airdrop image"/>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="s_thirdSection">
    <div class="common_bgWrapper_grey">
        <img src="assets/img/figure/f_back_1.png" alt="bg"/>
        <img src="assets/img/figure/f_back_2.png" alt="bg"/>
        <img src="assets/img/figure/f_back_3.png" alt="bg"/>
    </div>
    <div class="container">
        <div class="col-12 d-block d-sm-none">
            <div class="s_imgContainer w-100 m-0">
                <img src="assets/img/service/airdrop_3_sales_en.png" alt="service airdrop image"/>
            </div>
        </div>
        <div class="s_title">Selling paid documents</div>
        <div class="s_contentsBox  row">
            <div class="col-12 col-sm-6 pl-0">
                <div class="sv_list">
                    <img src="assets/img/service/service_numbering_1.png" alt=""/>
                    Selling paid documents
                </div>
                <div class="sv_list">
                    <img src="assets/img/service/service_numbering_2.png" alt=""/>
                    Requests to supervise and curate paid documents
                </div>
                <div class="sv_list">
                    <img src="assets/img/service/service_numbering_3.png" alt=""/>
                    Pricing for paid documents
                </div>

            </div>
            <div class="d-none d-sm-block col-sm-6 pr-0">
                <div class="s_imgContainer w-100 m-0">
                    <img src="assets/img/service/airdrop_3_sales_en.png" alt="service airdrop image"/>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="s_secondSection">
    <div class="container">
        <div class="col-12 d-block d-sm-none">
            <div class="s_imgContainer w-100 m-0">
                <img src="assets/img/service/airdrop_2_token_en.png" alt="service airdrop image"/>
            </div>
        </div>
        <div class="s_title">Free Sharing Documents and Rewards for Curating Documents</div>
        <div class="s_contentsBox  row">
            <div class="col-12 col-sm-6 pl-0">
                <div class="sv_list">
                    <img src="assets/img/service/service_numbering_1.png" alt=""/>
                    Reward for knowledge producers of free documents
                </div>
                <div class="sv_list">
                    <img src="assets/img/service/service_numbering_2.png" alt=""/>
                    Curating of free documents
                </div>
                <div class="sv_list">
                    <img src="assets/img/service/service_numbering_3.png" alt=""/>
                    Curating through reliable curators and voting indirectly
                </div>
            </div>
            <div class="d-none d-sm-block col-sm-6 pr-0">
                <div class="s_imgContainer w-100 m-0">
                    <img src="assets/img/service/airdrop_2_token_en.png" alt="service airdrop image"/>
                </div>
            </div>
        </div>
    </div>
</section>