<div class="sv_contentsBox">

    <div class="sv_title">에어드랍을 통한 초기 사용자 유치</div>

    <div class="sv_imgContainer">
        <img src="./img/service/airdrop_1_documents.png" alt="service airdrop image"/>
    </div>

    <div class="sv_contentsDesc mt-5 mt-sm-0">
        지식 생태계를 구축하기 위해서 필요한 구성 요소는 두 가지이다. 즉, 충분한 수의 지식 생산자와 문서이다.
        <br>
        이 두 가지 요소는 Polaris Office가 보유한 핵심 자산이다.
        <br>
        Polaris Office의 사용자는 약 1억명에 이른다.
        <br>
        Polaris Office는 약 1,000만명의 MAU(월간 적극 사용자)를 보유한 매우 활발한 서비스 플랫폼으로서 특별한 디지털 마케팅 없이도
        <br>
        날마다 약 50,000명의 사용자가 꾸준히 유입되고 있다.
    </div>
</div>


<div class="sv_contentsBox">
    <div class="sv_title">문서 무료 공유 및 문서 큐레이팅에 대한 보상</div>
    <div class="sv_imgContainer">
        <img src="./img/service/airdrop_2_token.png" alt="service reward image"/>
    </div>
</div>


<div class="sv_contentsBox">
    <div class="sv_title">유료 문서 판매</div>
    <div class="sv_imgContainer">
        <img src="./img/service/airdrop_3_sales.png" alt="service selling image"/>
    </div>
</div>