<section class="s_secondSection mt-5">
    <div class="s_first_bg">
        <div class="s_first_imageWrapper">
            <img src="assets/img/technology/t_bg.jpg" alt="summary banner"/>
        </div>
    </div>
    <div class="container">
        <div class="s_title f-color-white">POLARIS SHARE and Blockchain</div>
        <div class="s_contentsBox  row">
            <div class="col-12 col-sm-7 pl-0">
                <div class="s_contentsDesc s_contentsDescOpt">
                    Although the project is provided as a hybrid type, it will be designed in the ways that decentralization,
                    independence and reliability  are guaranteed,
                    and the most parts of the project will be implemented on the blockchain as the blockchain technology will
                    gradually improve more and more in the future.
                    The choice of items to be stored in the blockchain will be determined by the data volume, the required
                    processing speed and the requested level of reliability.
                    <br>
                    <br>
                    For example, the data related to documents can be divided into the document itself, the meta-data of documents,
                    and the activity data of documents such as the numbers of comments and views.
                    The document itself is difficult to record on the current blockchain due to its large size,
                    but verification of
                    whether the document is original becomes an important issue later, considering document copyright issues.
                    Thus, the system is constructed in reliable ways that allows the creation time and identification of the
                    originals by that data itself is stored in off-chains and hash values are stored in on-chains.
                    <br>
                    <br>
                    Also, although built through the cloud, collaborative tools, including Polaris Office as well as various Office software, will be connected and used through open APIs.
                    The frontend is implemented through this and POLARIS SHARE team can look over data at the same level.
                </div>
            </div>
            <div class="col-12 col-sm-6 pr-0">
            </div>
        </div>
    </div>
</section>


<section class="s_secondSection">
    <div class="container">
        <div class="col-12 d-block d-sm-none">
            <div class="s_imgContainer w-100 m-0">
                <img src="assets/img/section/4/system_architecture.jpg" alt="system architecture image" />
            </div>
        </div>
        <div class="s_title">Systsm Architecture</div>
        <div class="s_contentsBox  row">
            <div class="col-12 col-sm-6 pl-0">
                <div class="s_contentsDesc">
                    <div class="t_subTitle">
                        The component factors of POLARIS SHARE
                    </div>
                    <div class="t_contents">
                        <div class="t_contentsTitle">
                            POLARIS SHARE Frontend
                        </div>
                        <div class="t_contentsDesc">
                            User applications for using knowledge transaction service
                        </div>
                    </div>
                    <div class="t_contents">
                        <div class="t_contentsTitle">
                            POLARIS SHARE Hybrid App
                        </div>
                        <div class="t_contentsDesc">
                            The business logic for the Knowledge transaction services based on Blockchain and Cloud
                        </div>
                    </div>
                    <div class="t_contents">
                        <div class="t_contentsTitle">
                            POLARIS SHARE Open API
                        </div>
                        <div class="t_contentsDesc">
                            Providing common functions based on the business logic
                        </div>
                    </div>
                    <div class="t_contents">
                        <div class="t_contentsTitle">
                            The underlying blockchain platform
                        </div>
                        <div class="t_contentsDesc">
                            the Ethereum will be used as the underlying blockchain platform
                        </div>
                    </div>
                    <div class="t_contents">
                        <div class="t_contentsTitle">
                            Traditional Web and Cloud Services
                        </div>
                        <div class="t_contentsDesc">
                            Amazon Web Service and Private Hosting Server will be used
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-sm-block col-sm-6 pr-0">
                <div class="s_imgContainer w-100 m-0">
                    <img src="assets/img/section/4/system_architecture.jpg" alt="system architecture image" />
                </div>
            </div>
        </div>
    </div>
</section>


<section class="s_thirdSection">
    <div class="common_bgWrapper_grey">
        <img src="assets/img/figure/f_back_1.png" alt="bg"/>
        <img src="assets/img/figure/f_back_2.png" alt="bg"/>
        <img src="assets/img/figure/f_back_3.png" alt="bg"/>
    </div>
    <div class="container">
        <div class="col-12 d-block d-sm-none">
            <div class="s_imgContainer w-100 m-0">
                <img src="assets/img/section/4/architecture_extension.png" alt="architecture extension image"/>
            </div>
        </div>
        <div class="s_title pt-3">Architecture Extension</div>
        <div class="s_contentsBox row">
            <div class="col-12 col-sm-6 order-1 order-sm-0 pl-0">
                <div class="s_contentsDesc bg_white">
                    Although the POLARIS SHARE project currently provides only knowledge transaction services as proposed services,
                    it aims to become the platform that provides expert network oriented and distributed work environments beyond the knowledge transaction
                    <br>
                    <br>
                    Initially, we have a plan to expand to collaborative services such as profile, human network services, project management services,
                    business messengers and video chat, starting from knowledge exchanges and a partner App, Office software.
                    <br>
                    <br>
                    The Open API of The POLARIS SHARE will enable projects to expand service platforms by providing API,
                    thereby these services can be executed on the common basis which is stored in blockchain.
                </div>
            </div>
            <div class="d-none d-sm-block col-sm-6 pr-0">
                <div class="s_imgContainer w-100 m-0">
                    <img src="assets/img/section/4/architecture_extension.png" alt="architecture extension image"/>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="s_secondSection">
    <div class="container">
        <div class="col-12 d-block d-sm-none">
            <div class="text-align-center">
                <img src="assets/img/section/4/pols.png" alt="pols"/>
            </div>
        </div>
        <div class="s_title pt-3">POLS in the POLARIS SHARE</div>
        <div class="s_contentsBox row">
            <div class="col-12 col-sm-6 pl-0">
                <div class="s_contentsDesc">
                    POLS is a commodity for using various knowledge transaction services.
                    <br>
                    The standard tokens of ERC20 specification can be traded on cryptocurrency exchanges by adding specific functions,
                    <br>
                    and on the POLARIS SHARE platform, it can be used for the collections, the rewards, the exchanges, or the other purposes of user and document contents.
                </div>
            </div>
            <div class="d-none d-sm-block col-sm-6 pr-0">
                <div class="t_imgContainer">
                    <img src="assets/img/section/4/pols.png" alt="pols"/>
                </div>
            </div>
        </div>
    </div>
</section>