<div class="t_contentsBox">

    <div class="t_timelineContainer">
        <div class="t_timelineWrapper">
            <div class="timeline-item" date-is='19.2Q'>
                <p>
                    Distributing the first service to the Test net
                </p>
            </div>

            <div class="timeline-item" date-is='19.4Q'>
                <p>
                    Supporting the off-chain wallet
                </p>
            </div>

            <div class="timeline-item" date-is='20.2Q'>
                <p>
                    Interlocking with Polaris Office
                </p>
                <p>
                    Issuing testing tokens and recruiting testers
                </p>
                <p>
                    Distribution to the Mainnet of Ethereum
                </p>
                <p>
                    Listing of the domestic exchanges market and issuing official tokens
                </p>
            </div>

            <div class="timeline-item" date-is='20.4Q'>
                <p>
                    Publishing the mobile App and Advertising Sales
                </p>
                <p>
                    Promote listing on the global exchange market additionally
                </p>
            </div>
        </div>
    </div>
</div>