<div class="t_contentsBox">
    <div class="t_title">Token Allocation</div>

    <div class="t_subTitle">Token Symbol: POLS      Token Type: ERC 20</div>

    <div class="t_contentsDesc">
        Total amount of issued tokens 5,000,000,000 (5 billion, 100%)
    </div>

    <div class="t_subTitle">l Token to sell 1,500,000,000 (1.5 billion, 30%)</div>

    <div class="t_contentsDesc">
         The amount of tokens to sell through the ICO will be 30% of the total issued amount, and the funds raised
        through token sales will be used for development and marketing costs.
    </div>

    <div class="t_subTitle">Ecosystem 1,250,000,000 (12.5 billion, 25%)</div>

    <div class="t_contentsDesc">
        In order to attract users and documents as quickly as possible, it will be operated as the Reward Pool (21%) and
        be used as the Air Drop (4%) for users.
    </div>

    <div class="t_subTitle">Team, Strategic partners, Consultations 1,025,000,000 (1.025 billion, 20.5%)</div>

    <div class="t_contentsDesc">
         It will be used as the rewards for team members who participated in the project, strategic partners for project
        success, and consultations.
    </div>

    <div class="t_subTitle">Reserve 1,475,000,000 (1.475 billion, 24.5%)</div>

    <div class="t_contentsDesc">
        Initially, it is owned by the company (the foundation) and will not be sold off unless the unexpected situation
        occurs beyond special purposes such as service expansion or the concept of POLARIS SHARE.
    </div>
</div>


<div class="t_contentsBox">
    <div class="t_title">Token Use</div>

    <div class="t_contentsDesc t_contentsDescSub">
        Operation 10%
    </div>

    <div class="t_contentsDesc t_contentsDescSub">
        Business Development and Marketing 25%
    </div>

    <div class="t_contentsDesc t_contentsDescSub">
        Development Ecosystem 50%
    </div>

    <div class="t_contentsDesc t_contentsDescSub">
        Legal and consulting 5%
    </div>

    <div class="t_contentsDesc t_contentsDescSub">
        Preparation for Risks 10%
    </div>
</div>