<section class="s_secondSection service">
	<div class="container">
		<div class="s_contentsWrapper2">
			<div class="s_contentsText">
				<div class="s_title">
					Attracting Initial Users<br />through the Air Drops
					<div class="s_underline"></div>
				</div>
				<div class="s_contentsDesc">
					There are two  necessary components to build a knowledge ecosystem.
					That is, they are sufficient number of knowledge producers and
					documents.
					<br />
					<br />
					These two factors are the core assets that the Polaris Office holds.
					<br />
					<br />
					The Polaris Office has about 100 million users.
					<br />
					<br />
					The Polaris Office is a very active service platform with about 10
					million Monthly Active Users (MAU) and has steady increases of about
					50,000 users every day without the need for special digital marketing.
				</div>
			</div>

			<div class="s_imgContainer">
				<img
					src="assets/img/service/airdrop_1_documents_en.png"
					alt="service airdrop image"
				/>
			</div>
		</div>
	</div>
</section>

<section class="s_thirdSection service">
	<div class="container">
		<div class="s_contentsWrapper2">
			<div class="s_imgContainer right">
				<img
					src="assets/img/service/airdrop_3_sales_en.png"
					alt="service airdrop image"
				/>
			</div>

			<div class="s_contentsText left">
				<div class="s_title">
					System Architecture
					<div class="s_underline"></div>
				</div>
				<div class="s_list">
					<div class="sv_list"><span>1. Selling paid documents</span></div>
					<div class="sv_list">
						<span> 2. Requests to supervise and curate paid documents</span>
					</div>
					<div class="sv_list"><span>3. Pricing for paid documents</span></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="s_secondSection service">
	<div class="container">
		<div class="s_contentsWrapper2">
			<div class="s_contentsText">
				<div class="s_title">
					Free Sharing Documents and Rewards for Curating Documents
					<div class="s_underline"></div>
				</div>
				<div class="s_list">
					<div class="sv_list">
						<span>1. Reward for knowledge producers of free documents</span>
					</div>
					<div class="sv_list">
						<span>2. Curating of free documents</span>
					</div>
					<div class="sv_list">
						<span
							>3. Curating through reliable curators and voting indirectly</span
						>
					</div>
				</div>
			</div>
			<div class="s_imgContainer">
				<img
					src="assets/img/service/airdrop_2_token_en.png"
					alt="service airdrop image"
				/>
			</div>
		</div>
	</div>
</section>
