<section class="s_secondSection service">
	<div class="container">
		<div class="s_contentsWrapper2">
			<div class="s_contentsText">
				<div class="s_title">
					Token Allocation
					<div class="s_underline"></div>
				</div>
				<div class="s_contentsDesc">
					<div class="t_subTitle">
						Token Symbol: POLA      Token Type: ERC 20
					</div>
					<div class="t_contents">
						<div class="t_contentsTitle">
							<span>
								Total amount of issued tokens 5,000,000,000 (5 billion,
								100%)</span
							>
						</div>
						<div class="t_contentsDesc">
							User applications for using knowledge transaction service
						</div>
					</div>
					<div class="t_contents">
						<div class="t_contentsTitle">
							<span> Token to sell 1,250,000,000 (1.25 billion, 25%)</span>
						</div>
						<div class="t_contentsDesc">
							The amount of tokens that will be sold through ICO will be 25% of
							the total issuance, and the fund that is raised through the sales
							of tokens will be used for the development cost.
						</div>
					</div>
					<div class="t_contents">
						<div class="t_contentsTitle">
							<span> Ecosystem 1,050,000,000 (1.05 billion, 21%)</span>
						</div>
						<div class="t_contentsDesc">
							It will be used for the operation of the reward pool 21% to
							attract users and documents in the earliest time possible.
						</div>
					</div>
					<div class="t_contents">
						<div class="t_contentsTitle">
							<span>
								Team, Strategic partners, Consultations 1,400,000,000 (1.4
								billion, 28%)</span
							>
						</div>
						<div class="t_contentsDesc">
							It will be used as the rewards for team members who participated
							in the project, strategic partners for project success, and
							consultations.
						</div>
					</div>
					<div class="t_contents">
						<div class="t_contentsTitle">
							<span> Reserve 350,000,000 (0.35 billion, 7%)</span>
						</div>
						<div class="t_contentsDesc">
							Initially, it is owned by the company (the foundation) and will
							not be sold off unless the unexpected situation occurs beyond
							special purposes such as service expansion or the concept of
							POLARIS SHARE.
						</div>
					</div>
					<div class="t_contents">
						<div class="t_contentsTitle">
							<span> Foundation 500,000,000 (0.5 billion, 10%)</span>
						</div>
					</div>
					<div class="t_contents">
						<div class="t_contentsTitle">
							<span>Marketing 250,000,000 (0.25 billion, 5%)</span>
						</div>
					</div>
					<div class="t_contents">
						<div class="t_contentsTitle">
							<span>Airdrop 200,000,000 (0.2 billion, 4%)</span>
						</div>
					</div>
				</div>
			</div>
			<div class="s_imgContainer">
				<img
					src="assets/img/technology/t_tokenChart_en.png"
					alt="token chart"
				/>
			</div>
		</div>
	</div>
</section>

<section class="s_thirdSection service">
	<div class="container">
		<div class="s_title">
			Token Use
			<div class="s_underline"></div>
		</div>
		<div class="t_imgContainer">
			<img
				src="assets/img/technology/t_tokenChart_2_en.png"
				alt="token chart"
			/>
		</div>
	</div>
</section>
