<section class="s_secondSection pt-0">
    <div class="container">

        <div class="t_contentsBox">
            <div class="t_roadMapWrapper">

                <img src="assets/img/technology/t_roadmap_en.jpg" alt="roadmap"/>


                <!--  <div class="t_roadMap_container">
                      <div class="t_roadMapListItem" lang="en">
                          <span>01</span> Launch of Polaris Office Cloud Service
                      </div>

                      <div class="row">
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2018.05
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  DECOMPANY preparation
                              </div>
                          </div>
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2018.06
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  Activate Polaris Office Cloud Service
                              </div>
                          </div>
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2018.4Q
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  ConsenSys project selection
                                  <div>
                                      Only startup project in Korea
                                  </div>
                              </div>
                          </div>
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2019.2Q
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  DECOMPANY 1.0 TESTNET
                                  <div>
                                      Polaris Office utilization plan
                                  </div>
                              </div>
                          </div>
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2019.2Q
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  Off-chain wallet support
                              </div>
                          </div>
                      </div>
                  </div>


                  <div class="t_roadMap_container">
                      <div class="t_roadMapListItem">
                          <span>02</span> Launch of POLARIS SHARE Beta Service
                      </div>

                      <div class="row">
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2020.1Q
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  Polarishare.com Beta versionn open
                                  <div>
                                      Complement MVP
                                  </div>
                              </div>
                          </div>
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2020.2Q
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  Polaris Office Cloud Service connection
                                  <div>
                                      Embedded with publishing function
                                  </div>
                              </div>
                          </div>
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2020.2Q
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  Listing on the domestic exchange Official token release
                              </div>
                          </div>
                      </div>
                  </div>


                  <div class="t_roadMap_container">
                      <div class="t_roadMapListItem">
                          <span>03</span> POLARIS SHARE Phase 1 - Contents Pool
                      </div>

                      <div class="row">
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2020.3Q
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  POLARIS SHARE MAINNET
                                  <div>
                                      MVP UI/UX renewal
                                  </div>
                              </div>
                          </div>
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2020.4Q
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  Polarishare.com Grand open
                                  <div>
                                      Creator-Oriented Platform renewal
                                  </div>
                                  <div>
                                      Features for contents collection
                                      <br>
                                      (Funding, Commerce, Wallet, Review)
                                  </div>
                              </div>
                          </div>
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2020.4Q
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  Creator acquisition & Reward augmentation
                                  <br>
                                  Listing on the global exchange
                              </div>
                          </div>
                      </div>
                  </div>


                  <div class="t_roadMap_container">
                      <div class="t_roadMapListItem">
                          <span>04</span> POLARIS SHARE Phase 2 - User Pool
                      </div>

                      <div class="row">
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2021.1Q
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  Polarishare.com audience-centered renewal
                                  <div>
                                      improve curation and search
                                  </div>
                              </div>
                          </div>
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2021.1Q
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  Launch of Mobile APP/Advertising
                              </div>
                          </div>
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2021.2Q
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  Polaris Office Cloud Service extension connection
                                  <div>
                                      Library publishing channel extension
                                  </div>
                                  <div>
                                      Storage compatible
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>


                  <div class="t_roadMap_container">
                      <div class="t_roadMapListItem">
                          <span>05</span> POLARIS SHARE 2.0 - Cloudsourcing Platform
                      </div>

                      <div class="row">
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2021.3Q
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  Polarishare.com expert-centered renewal
                                  <div>
                                      Expert screening & link
                                  </div>
                              </div>
                          </div>
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2021.4Q
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  Launch of Mobile APP 2.0/Advertising
                              </div>
                          </div>
                          <div class="t_roadMap_cell col-12 col-md">
                              <div class="t_roadMap_date">
                                  2021.4Q
                              </div>
                              <div class="t_roadMap_hr" lang="en">

                              </div>
                              <div class="t_roadMap_content">
                                  Knowledge and Expert Network Platform
                                  <br>
                                  (Domestic No1.)
                                  <div>
                                      Expanding global market share
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>-->
            </div>
        </div>
    </div>
</section>