<section class="s_secondSection">
    <div class="container">
        <div class="col-12 d-block d-sm-none">
            <div class="s_imgContainer w-100 m-0">
                <img src="../img/service/service_1_share.png" alt="service airdrop image"/>
            </div>
        </div>
        <div class="s_title">문서 공유 및 판매</div>
        <div class="s_contentsBox  row">
            <div class="col-12 col-sm-6 pl-0">
                <div class="s_contentsDesc">
                    지식 생산자는 Polaris Office 같은 다양한 문서 작성 소프트웨어로 작성한
                    Word, Excel, PowerPoint, PDF 등 다양한 형식의 문서를 직접 업로드
                    할 수 있습니다. 특정 주제에 관한 지식을 포함하는 문서뿐 아니라, 어떤 문제를
                    해결하기 위한 다양한 형식과 공식을 포함하는 Excel 파일 같은 다양한 문서도
                    업로드 가능합니다. 문서는 무료로 공유하거나, 지식 생산자가 정한 바에 따라
                    사전에 책정된 가격으로 판매할 수 있습니다.
                </div>
            </div>
            <div class="d-none d-sm-block col-sm-6 pr-0">
                <div class="s_imgContainer w-100 m-0">
                    <img src="../img/service/service_1_share.png" alt="service airdrop image"/>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="s_thirdSection">
    <div class="common_bgWrapper_grey">
        <img src="../img/figure/f_back_1.png" alt="bg"/>
        <img src="../img/figure/f_back_2.png" alt="bg"/>
        <img src="../img/figure/f_back_3.png" alt="bg"/>
    </div>
    <div class="container">
        <div class="col-12 d-block d-sm-none">
            <div class="s_imgContainer w-100 m-0">
                <img src="../img/service/service_1_find_1.jpg" alt="document find image"/>
            </div>
        </div>
        <div class="s_title pt-3">문서 찾기</div>
        <div class="s_contentsBox row">
            <div class="col-12 col-sm-6 order-1 order-sm-0 pl-0">
                <div class="s_contentsDesc bg_white">
                    POLARIS SHARE에 업로드한 문서는 다양한 경로를 통해 수용자에게 전달됩니다.
                    주요 경로에는 메인 웹페이지 노출, 카테고리별 이동, 사이트 및 관련 콘텐츠 내
                    검색, 외부 검색, 레퍼런스 링크, 기타 사이트에 임베딩하는 방법 등이 있습니다.
                    <br>
                    <br>
                    메인 웹페이지에서는, 특정 지식을 전시할 뿐 아니라 최신 인기 문서도 검색할 수 있습니다.
                    또는, 카테고리를 지정하며 필요한 문서를 검색하는 것도 가능합니다.
                    <br>
                    <br>
                    POLARIS SHARE에 업로드한 문서는 검색 엔진에 최적화되므로 Google이나
                    Yahoo 같은 주요 검색 사이트에 쉽게 노출될 수 있습니다. 다양한 주제를 다룬 문서가
                    POLARIS SHARE에 업로드되면, 이 문서는 주요 검색 엔진에서 검색이 가능하고
                    따라서 더 많은 사용자를 유치할 수 있습니다.
                </div>
            </div>
            <div class="d-none d-sm-block col-sm-6 pr-0">
                <div class="s_imgContainer w-100 m-0">
                    <img src="../img/service/service_1_find_1.jpg" alt="document find image"/>
                </div>
                <div class="s_imgContainer w-100 m-0 mt-3">
                    <img src="../img/service/service_1_find_2.jpg" alt="document search image"/>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="s_secondSection">
    <div class="container">
        <div class="col-12 d-block d-sm-none">
            <div class="s_imgContainer w-100 m-0">
                <img src="../img/service/service_1_find_3.jpg" alt="document vote image"/>
            </div>
        </div>
        <div class="s_title pt-3">문서 열람 및 투표</div>
        <div class="s_contentsBox row">
            <div class="col-12 col-sm-6 pl-0">
                <div class="s_contentsDesc">
                    POLARIS SHARE의 수용자는 공유 문서를 읽거나 코멘트를 남기거나 투표를
                    통해 문서를 평가할 수 있습니다.
                    <br>
                    <br>
                    이렇게 얻은 결과는 메인 웹페이지에 노출할 문서 선별, 검색 결과의 정렬 순서,
                    관련 콘텐츠에서의 노출 확률 등에 영향을 줌으로써 사이트 내에서 콘텐츠의 노출
                    가능성을 높이는 데 사용됩니다.
                </div>
            </div>
            <div class="d-none d-sm-block col-sm-6 pr-0">
                <div class="s_imgContainer w-100 m-0">
                    <img src="../img/service/service_1_find_3.jpg" alt="document vote image"/>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s_thirdSection">
    <div class="common_bgWrapper_grey">
        <img src="../img/figure/f_back_1.png" alt="bg"/>
        <img src="../img/figure/f_back_2.png" alt="bg"/>
        <img src="../img/figure/f_back_3.png" alt="bg"/>
    </div>
    <div class="container">
        <div class="col-12 d-block d-sm-none">
            <div class="s_imgContainer w-100 m-0">
                <img src="../img/service/service_1_reward_2.jpg" alt="document reward image"/>
            </div>
        </div>
        <div class="s_title pt-3">지식 생산자에 대한 보상</div>
        <div class="s_contentsBox row">
            <div class="col-12 col-sm-6 pl-0">
                <div class="s_contentsDesc bg_white">
                    지식 생산자와 기타 기여자는 각자의 기여 정도에 따라 보상을 받습니다.
                    <br>
                    <br>
                    기여할 수 있는 활동과 기여에 기초한 보상 로직은 다음 장에서 설명드릴 예정입니다.
                </div>
            </div>

            <div class="d-none d-sm-block col-sm-6 pr-0">
                <div class="s_imgContainer w-100 m-0">
                    <img src="../img/service/service_1_reward_1.jpg" alt="document reward image"/>
                </div>
                <div class="s_imgContainer w-100 m-0 mt-4">
                    <img src="../img/service/service_1_reward_2.jpg" alt="document reward image"/>
                </div>

                <a href="../doc/POLARIS%20SHARE%201.1_whitepaper_KOR.pdf" target="_blank" title="link to White paper"
                   class="sv_whitepaper">whitepaper</a>
            </div>

            <a href="../doc/POLARIS%20SHARE%201.1_whitepaper_KOR.pdf" target="_blank" title="link to White paper"
               class="sv_whitepaper d-block d-sm-none">whitepaper</a>
        </div>
    </div>
</section>