<section class="s_secondSection pt-0">
    <div class="container">

        <div class="t_contentsBox">
            <div class="t_roadMapWrapper">


                <div class="t_roadMapListItem">
                    <div class="t_roadMapQuarterImgWrapper">19.2Q</div>
                    최초 서비스를 테스트넷에 배포
                </div>


                <div class="t_imgContainer">
                    <img src="../img/technology/t_roadmap_1.png" alt="roadmap image"/>
                </div>


                <div class="t_roadMapListItem">
                    <div class="t_roadMapQuarterImgWrapper">19.4Q</div>
                    Off-chain 지갑 지원
                </div>


                <div class="t_roadMapListItem">
                    <div class="t_roadMapQuarterImgWrapper">20.2Q</div>
                    폴라리스 오피스 연동
                </div>


                <div class="t_imgContainer">
                    <img src="../img/technology/t_roadmap_2.png" alt="roadmap image"/>
                </div>


                <div class="t_roadMapListItem">
                    <div class="t_roadMapQuarterImgWrapper">20.2Q</div>
                    테스트 토큰 발행 및 테스터 모집
                </div>


                <div class="t_roadMapListItem">
                    <div class="t_roadMapQuarterImgWrapper">20.2Q</div>
                    이더리움 메인넷에 배포
                </div>


                <div class="t_roadMapListItem">
                    <div class="t_roadMapQuarterImgWrapper">20.2Q</div>
                    국내 거래소 상장 및 정식 토큰 발행
                </div>


                <div class="t_roadMapListItem">
                    <div class="t_roadMapQuarterImgWrapper">20.4Q</div>
                    모바일 앱 출시 및 광고 판매
                </div>


                <div class="t_roadMapListItem">
                    <div class="t_roadMapQuarterImgWrapper">20.4Q</div>
                    글로벌 거래소 추가 상장 추진
                </div>


            </div>
        </div>
    </div>
</section>