<div class="t_contentsBox">

    <div class="t_timelineContainer">
        <div class="t_timelineWrapper">
            <div class="timeline-item" date-is='19.2Q'>
                <p>
                    최초 서비스를 테스트넷에 배포
                </p>
            </div>

            <div class="timeline-item" date-is='19.4Q'>
                <p>
                    Off-chain 지갑 지원
                </p>
            </div>

            <div class="timeline-item" date-is='20.2Q'>
                <p>
                    폴라리스 오피스 연동
                </p>
                <p>
                    테스트 토큰 발행 및 테스터 모집
                </p>
                <p>
                    이더리움 메인넷에 배포
                </p>
                <p>
                    국내 거래소 상장 및 정식 토큰 발행
                </p>
            </div>

            <div class="timeline-item" date-is='20.4Q'>
                <p>
                    모바일 앱 출시 및 광고 판매
                </p>
                <p>
                    글로벌 거래소 추가 상장 추진
                </p>
            </div>
        </div>
    </div>
</div>