<section class="s_secondSection mt-5">
    <div class="container">
        <div class="s_title">토큰 배분</div>
        <div class="s_contentsBox  row">
            <div class="col-12 pl-0">
                <div class="s_contentsDesc">
                    <div class="t_contents">
                        <div class="t_contentsTitle">
                            토큰 기호: POLS 토큰 유형: ERC 20
                        </div>
                        <div class="t_contentsDesc">
                            전체 토큰 발행량 5,000,000,000 (50억, 100%)
                        </div>
                    </div>
                    <div class="t_contents">
                        <div class="t_contentsTitle">
                            판매 토큰 1,500,000,000 (15억, 30%)
                        </div>
                        <div class="t_contentsDesc">
                            ICO를 통해 판매되는 토큰의 양은 전체 발행량의 30%가 될 예정이고, 토큰 판매를 통해 조성한 기금은 개발 비용 및 마케팅
                            비용으로 사용될 계획입니다.
                        </div>
                    </div>
                    <div class="t_contents">
                        <div class="t_contentsTitle">
                            생태계 1,250,000,000 (12.5억, 25%)
                        </div>
                        <div class="t_contentsDesc">
                            최대한 신속하게 사용자와 문서를 유치하기 위해 리워드 풀(21%) 운영 및 사용자를 위한 에어드랍(4%)으로 사용될
                            예정입니다.
                        </div>
                    </div>
                    <div class="t_contents">
                        <div class="t_contentsTitle">
                            팀, 전략 파트너, 자문 1,025,000,000 (10.25억, 20.5%)
                        </div>
                        <div class="t_contentsDesc">
                            프로젝트에 참여한 팀 구성원, 프로젝트 성공을 위한 전략 파트너, 자문에 대한 보상으로 사용될 예정입니다.
                        </div>
                    </div>
                    <div class="t_contents">
                        <div class="t_contentsTitle">
                            예비 1,225,000,000 (12.25억, 24.5%)
                        </div>
                        <div class="t_contentsDesc">
                            처음에는 회사(재단)이 소유하며, 서비스 확장 같은 특수 목적이나 POLARIS SHARE 개념을 넘어서는 뜻밖의 상황이 생기지
                            않는 한 매각하는 일은 없을 것입니다.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 pr-0">
            </div>
        </div>
    </div>
</section>


<section class="s_thirdSection">
    <div class="container">
        <div class="s_title pt-3">토큰 사용</div>
        <div class="s_contentsBox row">
            <div class="t_imgContainer w-100">
                <img src="../img/technology/t_tokenChart.png" alt="token chart"/>
            </div>
        </div>
    </div>
</section>